---
title: "Navigation generator"
section: "home"
permalink: /gen-nav.html
layout:
search: exclude
---

############################################################################
# HEADER NAVIGATION
############################################################################

header:

- title: "Home"
  icon: home
  host: support-en
  url: "/"
  section: "home"
  description: "The front page of our support website"

- title: "Members"
  icon: user
  host: support-en
  url: "/members/"
  section: "members"
  description: "Supports for members"

- title: "Clients"
  icon: briefcase
  host: support-en
  url: "/clients/"
  section: "clients"
  description: "Supports for clients"

- title: "Search"
  icon: search
  host: support-en
  url:
  section: "search"
  description: "Search this website"



############################################################################
# FOOTER NAVIGATION
############################################################################

footer:

- title: "Privacy policy"
  stitle: "Privacy"
  icon: lock
  host: main-en
  url: "/about/privacy.html"
  disable: false

- title: "Terms of services"
  stitle: "TOS"
  icon: gavel
  host: main-en
  url: "/about/tos.html"
  disable: false

- title: "Terms & conditions"
  stitle: "Terms"
  icon: balance-scale
  host: main-en
  url: "/about/terms.html"
  disable: false

- title: "Sitemap"
  stitle: "Sitemap"
  icon: sitemap
  host: main-en
  url: "/about/sitemap.html"
  disable: false



############################################################################
# MEMBER DOCUMENT MENU
############################################################################

members:
{% assign groups = site.members | group_by: "category" %}{% for group in groups %}
- title: "{{ group.name | replace: "-", " " | capitalize }}"
  name: {{ group.name }}
  icon: {% if group.name == "general" %}star{% elsif group.name == "dashboard" %}dashboard{% elsif group.name == "survey" %}pencil-square-o{% elsif group.name == "others" %}flask{% endif %}
  size: {{ group.size }}
  label: false
  label-color: false
  disable: false
  items:
{% for entry in group.items %}
  - title: "{{ entry.title }}"
    url: "{{ entry.url }}"
    section: "{{ entry.section }}"
    category: "{{ entry.category }}"
    tags: "{% if entry.tags %}{% for tag in entry.tags %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}"
    icon: {% if entry.icon %}{{ entry.icon }}{% endif %}
    label: false
    label-color: false
    disable: false
{% endfor %}{%endfor%}

############################################################################
# CLIENT DOCUMENT MENU
############################################################################

clients:
{% assign groups = site.clients | group_by: "category" %}{% for group in groups %}
- title: "{{ group.name | replace: "-", " " | capitalize }}"
  name: {{ group.name }}
  icon: {% if group.name == "new-survey" %}file-o{% elsif group.name == "your-survey" %}list{% elsif group.name == "monitor" %}line-chart{% elsif group.name == "results" %}pie-chart{% elsif group.name == "account" %}cogs{% elsif group.name == "knowledge" %}university{% endif %}
  size: {{ group.size }}
  label: false
  label-color: false
  disable: false
  items:
{% for entry in group.items %}
  - title: "{{ entry.title }}"
    url: "{{ entry.url }}"
    section: "{{ entry.section }}"
    category: "{{ entry.category }}"
    tags: "{% if entry.tags %}{% for tag in entry.tags %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}"
    icon: {% if entry.icon %}{{ entry.icon }}{% endif %}
    label: false
    label-color: false
    disable: false
{% endfor %}{%endfor%}

############################################################################
# COMBINED DOCUMENT MENU (MEMBER/CLIENT)
############################################################################

all:
{% assign groups = site.documents | group_by: "category" %}{% for group in groups %}
- title: "{{ group.name | replace: "-", " " | capitalize }}"
  name: {{ group.name }}
  icon: {% if group.name == "general" %}question-circle-o{% elsif group.name == "dashboard" %}dashboard{% elsif group.name == "survey" %}pencil-square-o{% elsif group.name == "others" %}flask{% elsif group.name == "new-survey" %}file-o{% elsif group.name == "your-survey" %}list{% elsif group.name == "monitor" %}line-chart{% elsif group.name == "results" %}pie-chart{% elsif group.name == "account" %}cogs{% elsif group.name == "knowledge" %}university{% endif %}
  size: {{ group.size }}
  label: false
  label-color: false
  disable: false
  items:
{% for entry in group.items %}
  - title: "{{ entry.title }}"
    url: "{{ entry.url }}"
    section: "{{ entry.section }}"
    category: "{{ entry.category }}"
    tags: "{% if entry.tags %}{% for tag in entry.tags %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}"
    icon: {% if entry.icon %}{{ entry.icon }}{% endif %}
    label: false
    label-color: false
    disable: false
{% endfor %}{%endfor%}
