---
title: "The main page of website"
section: "home"
permalink: /
layout: index-en
nav: "home"
homepage: true
---

<section class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      {% include 3/listtopics.html section = "all" %}
    </div>
  </div>
</section>

<section class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      {% include 3/listtopics.html section = "members" %}
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      {% include 3/listtopics.html section = "clients" %}
    </div>
  </div>
</section>
