---
title: "Testing page"
section: "home"
permalink: /test.html
layout: index
nav: "home"
---

<section class="container">

  <h5 class="h5index"><i class="pe-list-ul pe-fw"></i> Listing topics in each category</h5>
  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 listtopics-border-space">
      <div class="listtopics">
        <i class="pe-{{ mm.icon }} t-icon"></i>
        <h3 class="listtopics-head"><a href="{{ mm.url | prepend: site.baseurl }}" title="{{ mm.title }}">{{ mm.title }}</a></h3>
        <div class="listtopics-size">{{ mm.size }} {% if mm.size == 1 %}topic{% else %}topics{% endif %}</div>

        {% assign pages = site.clients | where:"reference", page.ref | sort: "language" %}
        <ul class="listtopics-body">
        {% for entry in pages %}
            <li class="listtopics-item"><a href="{{ entry.url | prepend: site.baseurl }}">{{ entry.title }}</a></li>
        {% endfor %}
        </ul>

      </div>
    </div>

  </div>
</section>
