<header>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-1">
      <div class="container">
        <i class="pe-language pe-fw"></i> &middot;
        {% if page.locale == "en" %}<span class="currrentlang">English</span> &middot; <span class="newlang"><a href="{{ page.url | replace: "/en/", "/th/" | prepend: site.baseurl }}" title="เปลี่ยนเป็นภาษาไทย">ไทย</a></span>
        {% elsif page.locale == "th" %}<span class="newlang"><a href="{{ page.url | replace: "/th/", "/en/" | prepend: site.baseurl }}" title="Switch to English language">English</a></span> &middot; <span class="currrentlang">ไทย</span>
        {% endif %}
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-2">
      <div class="container">
        <h1><a href="{{ "/" | prepend: site.baseurl }}" title="PE BINARY CO., LTD.">{% capture logo %}{% include 1/logo.html %}{% endcapture %}{{ logo | rstrip }}</a> <span class="sub-brand">{% if page.section == "members" or page.nav == "members" %}member support{% elsif page.section == "clients" or page.nav == "clients" %}client support{% else %}support{% endif %}</span></h1>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 hbox1">
            <p class="description">{{ site.description }}</p>
            <p class="thai-name"><i>{{ site.thaititle }}</i></p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 hbox2">
{% include 2/top.html %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 header-3">
      <div class="container">
{% include 2/breadcrumb.html section = page.section %}
      </div>
    </div>
  </div>
</header>
