<header>
  <div class="header-0">
    <div class="container">
      <img src="{{ "/assets/img/0/lang-uk.svg" | prepend: site.baseurl }}" alt="Switch to English language" title="Switch to English language"{% if site.locale == "en" %} class="active"{% endif %}>
      <img src="{{ "/assets/img/0/lang-th.svg" | prepend: site.baseurl }}" alt="Switch to Thai language" title="Switch to Thai language"{% if site.locale == "th" %} class="active"{% endif %}>
    </div>
  </div>
  <div class="header-1">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 hbox1">
          <h1><a href="{{ "/" | prepend: site.baseurl }}" title="PE BINARY CO., LTD.">{% capture logo %}{% include 1/logo.html %}{% endcapture %}{{ logo | rstrip }}</a> <span class="sub-brand">{% if page.section == "members" or page.nav == "members" %}member support{% elsif page.section == "clients" or page.nav == "clients" %}client support{% else %}support{% endif %}</span></h1>
          <p class="description">{{ site.description }}</p>
          <p class="thai-name"><i>{{ site.thaititle }}</i></p>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 hbox2">
{% include 2/top.html %}
        </div>
      </div>
    </div>
  </div>
  <div class="header-2">
{% include 2/breadcrumb.html section = page.section %}
  </div>
</header>
