<section class="search">
  <div class="modal fade" id="SS" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a data-dismiss="modal" aria-hidden="true"><i class="pe-times pe-lg"></i></a>
        </div>
        <div class="modal-title">
          {% if page.url contains "/members/" %}{% if page.locale %}<h2 class="{{ page.locale }}">{% else %}<h2>{% endif %}{% if page.locale == "th" %}ค้นหาบทความทั้งหมดสำหรับสมาชิก{% else %}Search documents for members{% endif %}</h2>
          {% elsif page.url contains "/clients/" %}{% if page.locale %}<h2 class="{{ page.locale }}">{% else %}<h2>{% endif %}{% if page.locale == "th" %}ค้นหาบทความทั้งหมดสำหรับลูกค้า{% else %}Search documents for clients{% endif %}</h2>
          {% else %}{% if page.locale %}<h2 class="{{ page.locale }}">{% else %}<h2>{% endif %}{% if page.locale == "th" %}ค้นหาบทความทั้งหมด{% else %}Search all documents{% endif %}</h2>
          {% endif %}
        </div>
        <div class="modal-body">
          <div id="search-container">
            {% if page.locale == "th" %}
            <div class="form-group-lg-th has-feedback">
              <input type="text" class="th form-control input-lg" id="search-input" placeholder="พิมพ์คำค้นหาที่นี่...">
              <i class="pe-search pe-lg f-icon form-control-feedback"></i>
            </div>
            <div id="search-results"><span class="s-question-th">คุณต้องการค้นหาบทความใดในวันนี้</span></div>
            {% else %}
            <div class="form-group-lg has-feedback">
              <input type="text" class="form-control input-lg" id="search-input" placeholder="Type your keyword(s) here...">
              <i class="pe-search pe-lg f-icon form-control-feedback"></i>
            </div>
            <div id="search-results"><span class="s-question-en">What are you looking for today?</span></div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
