<section class="search">
  <div class="modal fade" id="SS" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a data-dismiss="modal" aria-hidden="true"><i class="pe-times pe-lg"></i></a>
        </div>
        <div class="modal-title">
          {% if page.url contains "/members/" %}<h2>Search documents for members</h2>{% elsif page.url contains "/clients/" %}<h2>Search documents for clients</h2>{% else %}<h2>Search all documents</h2>{% endif %}
        </div>
        <div class="modal-body">
          <div id="search-container">
            <div class="form-group-lg has-feedback">
              <input type="text" class="form-control input-lg" id="search-input" placeholder="Type your keyword(s) here...">
              <i class="pe-search pe-lg f-icon form-control-feedback"></i>
            </div>
            <div id="search-results"><span class="s-question">What are you looking for today?</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
