<section class="search">
  <div class="modal fade" id="SS" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a data-dismiss="modal" aria-hidden="true"><i class="pe-times pe-lg"></i></a>
        </div>
        <div class="modal-title">
          {% if page.url contains "/members/" %}{% if page.locale == "th" %}<h2 class="th">ค้นหาบทความทั้งหมดสำหรับสมาชิก</h2>{% else %}<h2>Search documents for members</h2>{% endif %}
          {% elsif page.url contains "/clients/" %}{% if page.locale == "th" %}<h2 class="th">ค้นหาบทความทั้งหมดสำหรับลูกค้า</h2>{% else %}<h2>Search documents for clients</h2>{% endif %}
          {% else %}{% if page.locale == "th" %}<h2 class="th">ค้นหาบทความทั้งหมด</h2>{% else %}<h2>Search all documents</h2>{% endif %}
          {% endif %}
        </div>
        <div class="modal-body">
          <div id="search-container">
            {% if page.locale == "th" %}
            <div class="form-group-lg-th has-feedback">
              <input type="text" class="th form-control input-lg" id="search-input" placeholder="พิมพ์คำค้นหาที่นี่...">
              <i class="pe-search pe-lg f-icon form-control-feedback"></i>
            </div>
            <div id="search-results"><span class="s-question-th">คุณต้องการค้นหาบทความใดในวันนี้</span></div>
            {% else %}
            <div class="form-group-lg has-feedback">
              <input type="text" class="form-control input-lg" id="search-input" placeholder="Type your keyword(s) here...">
              <i class="pe-search pe-lg f-icon form-control-feedback"></i>
            </div>
            <div id="search-results"><span class="s-question">What are you looking for today?</span></div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
