
@font-face
  font-family: "neon"
  src: url("../fonts/neon.woff") format("woff")

@font-face
  font-family: "pe"
  font-style: normal
  font-weight: 400
  src: url("../fonts/pe.woff") format("woff")

@font-face
  font-family: "Myriad Pro"
  src: url('../fonts/MyriadPro.woff') format("woff")

@font-face
  font-family: "Lucida Grande"
  src: url("../fonts/LucidaGrande.woff") format("woff")

@font-face
  font-family: "Calibri"
  src: url("../fonts/Calibri.woff") format("woff")

@font-face
  font-family: "Monaco"
  src: url("../fonts/Monaco.woff") format("woff")

@font-face
  font-family: "Roboto"
  font-style: normal
  font-weight: 100
  src: url("../fonts/Roboto-Thin.woff") format("woff")

@font-face
  font-family: "Roboto"
  font-style: normal
  font-weight: 300
  src: url("../fonts/Roboto-Light.woff") format("woff")

@font-face
  font-family: "Roboto"
  font-style: normal
  font-weight: 400
  src: url("../fonts/Roboto-Regular.woff") format("woff")

@font-face
  font-family: "Roboto"
  font-style: normal
  font-weight: 500
  src: url("../fonts/Roboto-Medium.woff") format("woff")

@font-face
  font-family: "Roboto"
  font-style: normal
  font-weight: 700
  src: url("../fonts/Roboto-Bold.woff") format("woff")

@font-face
  font-family: "Roboto"
  font-style: italic
  font-weight: 400
  src: url("../fonts/Roboto-Italic.woff") format("woff")

@font-face
  font-family: "Roboto"
  font-style: italic
  font-weight: 500
  src: url("../fonts/Roboto-MediumItalic.woff") format("woff")

@font-face
  font-family: "Roboto"
  font-style: italic
  font-weight: 700
  src: url("../fonts/Roboto-BoldItalic.woff") format("woff")

@font-face
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 300
  src: url("../fonts/OpenSans-Light.woff") format("woff")

@font-face
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 400
  src: url("../fonts/OpenSans.woff") format("woff")

@font-face
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 600
  src: url("../fonts/OpenSans-Semibold.woff") format("woff")

@font-face
  font-family: 'Open Sans'
  font-style: normal
  font-weight: 700
  src: url("../fonts/OpenSans-Bold.woff") format("woff")

// @font-face {
//   font-family: 'Product Sans';
//   font-style: normal;
//   font-weight: 400;
//   src: url(../fonts/ProductSans-Regular.woff) format("woff");
// }

@font-face
  font-family: "Raleway"
  font-style: normal
  font-weight: 100
  src: url("../fonts/Raleway-Thin.woff") format("woff")

@font-face
  font-family: "Raleway"
  font-style: normal
  font-weight: 200
  src: url("../fonts/Raleway-Extralight.woff") format("woff")

@font-face
  font-family: "Raleway"
  font-style: normal
  font-weight: 300
  src: url("../fonts/Raleway-Light.woff") format("woff")

@font-face
  font-family: "Raleway"
  font-style: normal
  font-weight: 400
  src: url("../fonts/Raleway-Regular.woff") format("woff")

@font-face
  font-family: "Raleway"
  font-style: normal
  font-weight: 500
  src: url("../fonts/Raleway-Medium.woff") format("woff")

@font-face
  font-family: "Raleway"
  font-style: normal
  font-weight: 600
  src: url("../fonts/Raleway-Semibold.woff") format("woff")

@font-face
  font-family: "Raleway"
  font-style: normal
  font-weight: 700
  src: url("../fonts/Raleway-Bold.woff") format("woff")

@font-face
  font-family: "Raleway"
  font-style: normal
  font-weight: 800
  src: url("../fonts/Raleway-Extrabold.woff") format("woff")

@font-face
  font-family: "Raleway"
  font-style: normal
  font-weight: 900
  src: url("../fonts/Raleway-Heavy.woff") format("woff")
