<header>
  <div class="header-1">
    <div class="container">
      <h1><a href="{{ "/" | prepend: site.baseurl }}" title="{{ site.title }}">{% capture logo %}{% include base/logo.html %}{% endcapture %}{{ logo | rstrip }}</a> <span class="label red">{% if page.section == "members" %}member support{% elsif page.section == "clients" %}client support{% else %}support{% endif %}</span></h1>
      <p class="description">{{ site.description }}</p>
{% include base/navtop.html %}
    </div>
  </div>
  {% unless page.section == "home" %}
  <div class="header-2">
{% include base/navbreadcrumb.html %}
  </div>
  {% endunless %}
</header>
