
<div class="scroll-to-top"><i class="pe-arrow-up pe-lg"></i></div>
{% if site.google_analytics %}{% include base/google_analytics.html %}{% endif %}
<script type="text/javascript" src="{{ "/assets/js/jquery-2.1.4.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/bootstrap.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/anchor.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/toc.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/assets/js/functions.js" | prepend: site.baseurl }}"></script>
{% include base/search.html %}
<script type="text/javascript">
$(document).ready(function() {
  $('#toc').toc();
});
</script>
