
        <nav class="bread">
          <ol class="navlist-breadcrumb">
            <li class="navlist-bc">Home</li>
            <li class="navlist-bc">Section</li>
            <li class="navlist-bc">Page</li>
          </ol>
        </nav>
      </div>
      {% if $internal %}
      <div class="hidden-xs col-sm-2 col-md-2 col-lg-2">
        <aside class="navlist-thispage">
          <nav class="rightmenu">
            <ul class="navlist-spy">
              <li class="navlist-spyitem">Internal 1</li>
              <li class="navlist-spyitem">Internal 2</li>
              <li class="navlist-spyitem">Internal 3</li>
              <li class="navlist-spyitem">Internal 4</li>
              <li class="navlist-spyitem">Internal 5</li>
            </ul>
          </nav>
          <a href="#top" data-scroll="true"><i class="pe-arrow-up"></i> Back to top</a>
        </aside>
      </div>
      {% endif %}
    </div>
  </div>
</div>
