<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <aside class="left">
          <nav class="leftmenu">
            <ul class="navlist-parent">
              <li class="navlist-parent">
                <span class="navlist-section">Parent 1</span>
                <ul class="navlist-child">
                  <li class="navlist-child">Children 1</li>
                  <li class="navlist-child">Children 2</li>
                  <li class="navlist-child">Children 3</li>
                  <li class="navlist-child">Children 4</li>
                  <li class="navlist-child">Children 5</li>
                </ul>
              </li>
              <li class="navlist-parent">
                <span class="navlist-section">Parent 2</span>
                <ul class="navlist-child">
                  <li class="navlist-child">Children 1</li>
                  <li class="navlist-child">Children 2</li>
                  <li class="navlist-child">Children 3</li>
                  <li class="navlist-child">Children 4</li>
                  <li class="navlist-child">Children 5</li>
                </ul>
              </li>
              <li class="navlist-parent">
                <span class="navlist-section">Parent 3</span>
                <ul class="navlist-child">
                  <li class="navlist-child">Children 1</li>
                  <li class="navlist-child">Children 2</li>
                  <li class="navlist-child">Children 3</li>
                  <li class="navlist-child">Children 4</li>
                  <li class="navlist-child">Children 5</li>
                </ul>
              </li>
              <li class="navlist-parent">
                <span class="navlist-section">Parent 4</span>
                <ul class="navlist-child">
                  <li class="navlist-child">Children 1</li>
                  <li class="navlist-child">Children 2</li>
                  <li class="navlist-child">Children 3</li>
                  <li class="navlist-child">Children 4</li>
                  <li class="navlist-child">Children 5</li>
                </ul>
              </li>
              <li class="navlist-parent">
                <span class="navlist-section">Parent 5</span>
                <ul class="navlist-child">
                  <li class="navlist-child">Children 1</li>
                  <li class="navlist-child">Children 2</li>
                  <li class="navlist-child">Children 3</li>
                  <li class="navlist-child">Children 4</li>
                  <li class="navlist-child">Children 5</li>
                </ul>
              </li>
            </ul>
          </nav>
        </aside>
        <aside class="search">
          Form for a quick search
        </aside>
      </div>
      {% if $internal %}<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{% else %}<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">{% endif %}
        <nav class="bread">
          <ol class="navlist-breadcrumb">
            <li class="navlist-bc">Home</li>
            <li class="navlist-bc">Section</li>
            <li class="navlist-bc">Page</li>
          </ol>
        </nav>
        <!-- <hr> -->
