
<section class="contactus">
  <h3>Still need help?</h3>
  <p>You can always contact us by using the contact form below.
     We make sure that every single query would be responded.
     It normally takes a few working days for us to get back to you.
  </p>
  <div class="contactform">
    CONTACT FORM
  </div>
</section>

<section class="feedback">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 helpful">
      <h4>Was it helpful?</h4>
      <div class="h-yes">Yes</div>
      <div class="h-none"></div>
      <div class="h-no">No</div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 related-listing">
      <h4>Similar topics</h4>
      <div class="listing-group">
        <a class="listing-item" href="#">Cras justo odio</a>
        <a class="listing-item" href="#">Dapibus ac facilisis in</a>
        <a class="listing-item" href="#">Morbi leo risus</a>
        <a class="listing-item" href="#">Porta ac consectetur ac</a>
        <a class="listing-item" href="#">Vestibulum at eros</a>
      </div>
    </div>
  </div>
</section>
