<section class="feedback">
  <h3>Others</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 helpful">
      <h4>Was it helpful?</h4>
      <div class="h-yes">Yes</div>
      <div class="h-none"></div>
      <div class="h-no">No</div>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 related-listing">
      <h4>Similar topics</h4>
      <div class="listing-group">
      {% for entry in site.[page.section] | limit: 5 %}
        <a class="listing-item" href="{{ entry.url }}">{{ entry.title }}</a>
      {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="contactus">
  <h3>Still need help?</h3>
  <p>You can always contact us by using the contact form below.
     We make sure that every single query would be responded.
     It normally takes a few working days for us to get back to you.
  </p>
  <div class="contactform">
    CONTACT FORM
  </div>
</section>
