    <nav class="subnav-bottom">
      <ol class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><i class="pe-home pe-fw"></i> <a href="{{ "/" | prepend: site.baseurl }}" itemprop="item"><span itemprop="name">Home</span></a></li>
        {% assign crumbs = page.url | split: '/' %}
        {% for crumb in crumbs offset: 1 %}
        {% if forloop.last %}
        <li class="active" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ page.url | prepend: site.baseurl }}" itemprop="item"><span itemprop="name">{{ page.title }}</span></a></li>
        {% else %}
        {% assign crumb_limit = forloop.index | plus: 1 %}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: "/" | prepend: site.baseurl }}{% endfor %}" itemprop="item"><span itemprop="name">{{ crumb | replace:'-',' ' | capitalize }}</span></a></li>
        {% endif %}
        {% endfor %}
      </ol>
    </nav>
