          <nav class="topnav">
            <ul>
              {% for entry in site.data.navigation.header %}
              {% if entry.section == page.nav %}
              {% if entry.section == "members" or "clients" %}
              <li><a href="{{ entry.url | prepend: site.data.domains.[entry.host] | prepend: site.baseurl }}" title="{{ entry.description }}">{% capture stack1 %}{% include base/stack.html icon = entry.icon shape = "circle" size = "2" inverse = "true" title = entry.description active = "true" %}{% endcapture %}{{ stack1 | rstrip }}<br><span class="topnav-item">{{ entry.title }}</span></a></li>
              {% endif %}
              {% elsif entry.section == "search" %}
              <li><a class="modal-link" data-toggle="modal" data-target="#SS" data-keyboard="true">{% capture stack1 %}{% include base/stack.html icon = entry.icon shape = "circle" size = "2" inverse = "true" title = entry.description %}{% endcapture %}{{ stack1 | rstrip }}<br><span class="topnav-item">{{ entry.title }}</span></a></li>
              {% else %}
              <li><a href="{{ entry.url | prepend: site.data.domains.[entry.host] }}" title="{{ entry.description }}">{% capture stack1 %}{% include base/stack.html icon = entry.icon shape = "circle" size = "2" inverse = "true" title = entry.description %}{% endcapture %}{{ stack1 | rstrip }}<br><span class="topnav-item">{{ entry.title }}</span></a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </nav>
