<section class="search">
  <div class="modal fade" id="SS" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <a data-dismiss="modal"><i class="pe-times pe-lg"></i></a>
        </div>
        <div class="modal-title">
          <h1>Search our documents</h1>
        </div>
        <div class="modal-body">
          <div id="search-container">
            <div class="form-group-lg has-feedback">
              <input type="text" class="form-control input-lg" id="search-input" placeholder="Type your keyword(s) here...">
              <i class="pe-search form-control-feedback"></i>
            </div>
            <div id="search-results"><span class="s-question">What are you looking for today?</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
