{% if include.section == "all" %}

      <h2>All support topics</h2>
      <div class="listing">
        <h4>Total of {{ site.documents.size }} documents</h4>
        <div class="listing-group">
          {% for entry in site.documents %}
          <div class="listing-item">
            <a href="{{ entry.url | prepend: site.baseurl }}">{{ entry.title }}</a>
            -
            <small>
            {% if entry.categories %}
              {% for category in entry.categories %}
                <i class="pe-folder-open-o pe-fw"></i> {{ category }}
              {% endfor %}
            {% endif %}
            {% if entry.tags %}
              {% for tag in entry.tags %}
                <i class="pe-tag pe-fw"></i> {{ tag }}
              {% endfor %}
            {% endif %}
            </small>
          </div>
          {% endfor %}
        </div>
      </div>

{% else %}

      <h2>Support for {{ include.section }}</h2>
      <div class="listing">
        <h4>Total of {{ site.[include.section].size }} documents</h4>
        <div class="listing-group">
          {% for entry in site.[include.section] %}
          <div class="listing-item">
            <a href="{{ entry.url | prepend: site.baseurl }}">{{ entry.title }}</a>
            -
            <small>
            {% if entry.categories %}
              {% for category in entry.categories %}
                <i class="pe-folder-open-o pe-fw"></i> {{ category }}
              {% endfor %}
            {% endif %}
            {% if entry.tags %}
              {% for tag in entry.tags %}
                <i class="pe-tag pe-fw"></i> {{ tag }}
              {% endfor %}
            {% endif %}
            </small>
          </div>
          {% endfor %}
        </div>
      </div>

{% endif %}
