        <header>
          <h2>{{ page.title }}</h2>
          {% if page.question %}<blockquote><i class="pe-quote-left"></i> {{ page.question }} <i class="pe-quote-right"></i></blockquote>{% endif %}
          <p class="post-meta">
            <i class="pe-{{ page.icon }} pe-lg m-icon pull-right"></i>
            <span class="m-section">Section:&nbsp;{{ page.section | capitalize }}</span><br>
            <span class="m-cat">Category:&nbsp;<i class="pe-folder-open-o pe-fw"></i> {{ page.category }}</span><br>
          {% if page.tags %}
            <span class="m-tag">Tag:&nbsp;
            {% for tag in page.tags %}
              <i class="pe-tag pe-fw"></i> {{ tag | slugify }}
            {% endfor %}</span>
          {% endif %}
          </p>
        </header>
