
<h2>Topics in {{ include.section | capitalize }}: {{ include.category | capitalize }}</h2>
{% assign topics = site.[include.section] | where: "category", include.category %}
{% capture tsize %}{{ topics | size }}{% endcapture %}
<div class="listposts">
  <!-- <h5>{{ include.section | capitalize }}: {{ include.category | capitalize }} <small>({{ tsize }} {% if tsize == "1" %}document{% else %}documents{% endif %})</small></h5> -->
  <div class="row">
    {% for entry in topics %}
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 listposts-item">
      <article>
        <header>
          <h3>{{ entry.title }}</h3>
        </header>
        <body>
          {% if entry.question %}<p class="post-question">{{ entry.question }}</p>{% endif %}
        </body>
        <a href="{{ entry.url | prepend: site.baseurl }}" class="button pull-right">Read <i class="pe-map-o pe-fw"></i></a>
      </article>
    </div>
    {% endfor %}
  </div>
</div>
