{% capture newtopiclink %}/{{ include.section }}/{{ include.category }}/#ask-your-question{% endcapture %}
{% capture imgsvglink %}/assets/img/f-{{ include.section }}.svg{% endcapture %}
{% capture imgsvg %}<img src="{{ imgsvglink | prepend: site.baseurl }}" alt="Support for {{ include.section }}" class="img-responsive listtopics-svg">{% endcapture %}
      {{ imgsvg }}
      <h2>Topics in “{{ include.category | capitalize }}” under “{{ include.section | capitalize }}”</h2>
      <p class="grey">All help documents are collectively arranged by category (and sub-category, if any), users can quickly find specific topic by using our quick search function. And if the topic you are looking for is not available, please submit your question using the form at the end of this page below (<a href="{{ newtopiclink | prepend: site.baseurl }}" title="Go to the new topic submission section"><i class="pe-chevron-circle-down pe-fw"></i></a>).</p>
{% assign topics = site.[include.section] | where: "category", include.category %}
{% capture tsize %}{{ topics | size }}{% endcapture %}

      <h5 class="h5index"><i class="pe-list-ul pe-fw"></i> Support topics</h5>

      <div class="row">
{% for entry in topics %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 listposts-border-space">
          <div class="listposts">
            <i class="pe-{{ entry.icon }} pe-lg p-icon"></i>
            <h5 class="listposts-head"><a href="{{ entry.url | prepend: site.baseurl }}" title="{{ entry.title }}">{{ entry.title }}</a></h5>
            {% if entry.tags %}<p class="p-tag">{% for tag in entry.tags %}<i class="pe-tag m-icon pe-fw"></i> {{ tag | slugify }}{% endfor %}</p>{% endif %}
            <h6 class="listposts-sub">You ask:</h6>
            <p class="listposts-body"><blockquote><i class="pe-quote-left"></i> {{ entry.question }} <i class="pe-quote-right"></i></blockquote></p>
            <p class="listposts-footer"><a href="{{ entry.url | prepend: site.baseurl }}" title="{{ entry.title }}" class="button">read <i class="pe-map-o"></i></a></p>
          </div>
        </div>
{% endfor %}
      </div>

{% include 3/newtopic.html section = include.section %}
