      <section class="feedback">
        <h3><i class="pe-puzzle-piece pe-fw"></i> Others</h3>
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <h5>Was it helpful?</h5>
            <div class="helpful">
              <div class="h-yes"><img src="{{ "/assets/img/0/1-yes.svg" | prepend: site.baseurl }}" alt="Yes" title="Yes"><br><span class="tlabel">yes</span></div>
              <div class="h-no"><img src="{{ "/assets/img/0/1-no.svg" | prepend: site.baseurl }}" alt="No" title="No"><br><span class="tlabel">no</span></div>
            </div>
            <p class="helpfulnote"><i class="pe-bullhorn pe-fw"></i> 56 people also found this helpful. Have you shared your thought?</p>
          </div>
          <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 moretopics">
            <h5>Similar topics</h5>
            <div class="moremore">
              <ul class="lists">
                {% for entry in site.[page.section] | limit: 5 %}
                <li class="listtopics-item"><a href="{{ entry.url | prepend: site.baseurl }}">{{ entry.title }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </section>

      <section class="contactus">
        <h3><i class="pe-question-circle pe-fw"></i> Still need help?</h3>
        <p class="lead">If this article does not really answer your question, you can always send us your question directly by simply filling in the below form.</p>
        <p>We make sure that we answer every single query which would normally take a few working days. And if your question is considered to be valueable to others, we will place it in this website accordingly.</p>
        <div class="contact-border">
          <!-- <img src="{{ "/assets/img/more.jpg" | prepend: site.baseurl }}" class="img-responsive"> -->
          <div class="contact">
            <form name="commentform" method="post" action="{{ "/email.php" | prepend: site.baseurl }}">
              <div class="form-group has-feedback">
                <label>Name</label> <span class="label">required</span>
                <input type="text" class="form-control" name="name" id="name" placeholder="Your name" required>
                <i class="pe-user f-icon form-control-feedback"></i>
              </div>
              <div class="form-group has-feedback">
                <label>Email</label> <span class="label">required</span>
                <input type="email" class="form-control" name="email" id="email" placeholder="email@company.com" required>
                <i class="pe-envelope-o f-icon form-control-feedback"></i>
              </div>
              <div class="form-group has-feedback">
                <label>Question</label> <span class="label">required</span>
                <textarea class="form-control" rows="4" name="message" id="message" placeholder="Type your question here. You can type as long as you need." required></textarea>
                <i class="pe-commenting-o f-icon form-control-feedback"></i>
              </div>
              <!-- <p class="label red"<sup>(*)</sup> = required</span></p> -->
              <button type="submit" name="submit" class="button-x">send <i class="pe-paper-plane-o"></i></button>
            </form>
          </div>
        </div>
      </section>
