<section class="feedback">
  <h3>Others</h3>
  <div class="row">
    <div class="col-xs-5 col-sm-4 col-md-4 col-lg-4">
      <h6>Was it helpful?</h6>
      <div class="helpful">
        <div class="h-yes"><img src="{{ "/assets/img/1-yes.svg" | prepend: site.baseurl }}" title="Yes"></div>
        <div class="h-no"><img src="{{ "/assets/img/1-no.svg" | prepend: site.baseurl }}" title="No"></div>
      </div>
      <p class="small grey">32 people also find this article is helpful</p>
    </div>
    <div class="col-xs-7 col-sm-8 col-md-8 col-lg-8">
      <h6>Similar topics</h6>
      <div class="listtopics-group">
      {% for entry in site.[page.section] | limit: 5 %}
        <a class="listtopics-item" href="{{ entry.url }}">{{ entry.title }}</a>
      {% endfor %}
      </div>
    </div>
  </div>
</section>

<section class="contactus">
  <h3>Still need help?</h3>
  <p>You can always contact us by using the contact form below.
     We make sure that every single query would be responded.
     It normally takes a few working days for us to get back to you.
  </p>
  <div class="contactform">
    CONTACT FORM
  </div>
</section>
