      <div class="newquestion">
        <div class="row">
          <h5 class="h5index"><i class="pe-frown-o pe-fw"></i> Cannot find the answer?</h5>
          <p class="lead">You can submit a new question if you believe what you are looking for is not currently available in this website. Please use below form to submit your question.</p>
          <p>For every question that is submitted, we will make sure we address it for you as soon as possible. And these new topics may be added to this website afterwards.</p>
          <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
            <img src="/assets/img/0/f-newtopic.svg" alt="New Topic" class="img-responsive newtopic-svg">
          </div>
          <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <form name="commentform" method="post" action="/newquestion.php">
              <h3>Ask your question</h3>
              <div class="form-group has-feedback">
                <!-- <label for="InputName">Question</label> <span class="label">required</span> -->
                <textarea class="form-control" rows="4" id="newquestion" placeholder="Type your question here..."></textarea><br>
                <i class="pe-commenting-o f-icon form-control-feedback"></i>
              </div>
              <input type="hidden" name="section" value="{{ include.section}}">
              <button type="submit" class="button-x">submit a new question <i class="pe-check-circle-o"></i></button>
            </form>
          </div>
        </div>
      </div>
