      <div class="newquestion">
        <div class="row">
  {% if page.locale == "th" %}
          <h5 class="h5index-th"><i class="pe-frown-o h5-icon pe-fw"></i> ยังไม่พบคำตอบใช่ไหม?</h5>
          <p class="lead-th">หากคุณคิดว่าเราไม่มีคำตอบสำหรับคำถามของคุณ​ คุณสามารถส่งคำถามใหม่มาที่เราได้ทันที เพียงแค่พิมพ์คำถามลงแบบฟอร์มล่างนี้แล้วกดส่ง</p>
          <p class="th">เราตอบทุกคำถาม ดังนั้นคุณสามารถมั่นใจได้ว่า คำถามของคุณจะถูกตอบกลับอย่างเร็วที่สุด เท่าที่เราจะทำได้ และถ้าหากเราพบว่าคำถามของคุณน่าสนใจ เราจะเพิ่มลงเข้าในเว็บไซต์นี้ด้วย</p>
  {% else %}
          <h5 class="h5index-en"><i class="pe-frown-o pe-fw"></i> Cannot find the answer?</h5>
          <p class="lead-en">You can submit a new question if you believe what you are looking for is not currently available in this website. Please use below form to submit your question.</p>
          <p class="en">We make sure that we answer every single query which would normally take a few working days. And if your question is considered to be valueable to others, we will place it in this website accordingly.</p>
  {% endif %}
          <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
            <img src="{{ "/assets/img/0/f-newtopic.svg" | prepend: site.baseurl }}" alt="New Topic" class="img-responsive newtopic-svg">
          </div>
          <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            {% if page.locale == "th" %}<form id="new-topic" method="post" action="{{ "/assets/ext/pebinary.net/newtopic-th.php" | prepend: site.data.domains.client }}">{% else %}<form id="new-topic" method="get" action="{{ "/assets/ext/pebinary.net/newtopic-en.php" | prepend: site.data.domains.client }}">{% endif %}
              {% if page.locale == "th" %}<h3 id="ask-question" class="th">ถามคำถามใหม่</h3>{% else %}<h3 id="ask-question" class="en">Ask your new question</h3>{% endif %}
              <div class="form-group has-feedback">
                <!-- <label for="InputName">Question</label> <span class="label">required</span> -->
                {% if page.locale == "th" %}<textarea class="th form-control" rows="5" id="newquestion" name="newquestionth" placeholder="พิมพ์คำถามของคุณในช่องนี้..."></textarea>{% else %}<textarea class="en form-control" rows="5" id="newquestion" name="newquestionen" placeholder="Type your question here..."></textarea>{% endif %}
                <i class="pe-commenting-o {% if page.locale == 'th' %}f-icon2-th{% else %}f-icon2-en{% endif %} form-control-feedback"></i>
              </div>
              <input type="hidden" name="section" value="{{ page.nav }}">
              <p>{% if page.locale == "th" %}<button type="submit" class="pressx-th">ส่งคำถามใหม่{% else %}<button type="submit" class="pressx-en">submit a new question{% endif %} <i class="pe-check-circle-o"></i></button></p>
            </form>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function() {
          $('#new-topic').formValidation({
            framework: 'bootstrap',
            icon: { valid: 'pe-check', invalid: 'pe-times', validating: 'pe-refresh' },
            button: { selector: '[type="submit"]', disabled: '' },
            excluded: ':disabled',
            fields: {
              newquestionen: { validators: { notEmpty: { message: 'Please type your messsage into the box above' } } },
              newquestionth: { validators: { notEmpty: { message: 'กรุณาพิมพ์คำถามที่ต้องการลงในช่องด้านบนนี้' } } }
            }
          });
          {% if page.locale == "th" %}$('.help-block').addClass('help-block-th');{% else %}$('.help-block').addClass('help-block-en');{% endif %}
        });
      </script>
