body
  font-size: 1rem
  line-height: 1.428571429
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif
  color: $darkgrey
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%

.container:after,
.row:before,
.row:after
  content: ""
  display: table
  clear: both

del
  color: $silver
  text-decoration: line-through

.press
  background-color: transparent
  text-align: center
  text-transform: uppercase
  text-decoration: none
  display: inline-block
  height: 30px
  line-height: 30px
  padding: 0 15px
  white-space: nowrap
  border-radius: 5px
  cursor: pointer
  box-sizing: border-box
  -webkit-transition: all 0.15s ease-out 0s
  -moz-transition: all 0.15s ease-out 0s
  -ms-transition: all 0.15s ease-out 0s
  -o-transition: all 0.15s ease-out 0s
  @if $themeblue
    color: $darkblue
    border: 1px solid $darkblue
  @else
    color: $darkgreen
    border: 1px solid $darkgreen
  &:hover, &:active, &:focus
    color: $white
    outline: 0
    text-decoration: none
    @if $themeblue
      background-color: $darkblue
      border: 1px solid $darkblue
    @else
      background-color: $darkgreen
      border: 1px solid $darkgreen
  &:disabled
    cursor: not-allowed
    opacity: 0.65
    box-shadow: none
    pointer-events: none

.press-en
  @extend .press
  font-family: "ubuntu"
  font-size: 0.7rem
  letter-spacing: 0.1rem

.press-th
  @extend .press
  font-family: "boon"
  font-size: 0.9rem
  letter-spacing: 0.05rem
  // font-weight: bold

.pressx
  text-align: center
  text-transform: uppercase
  text-decoration: none
  display: inline-block
  height: 30px
  line-height: 30px
  padding: 0 15px
  white-space: nowrap
  border-radius: 5px
  cursor: pointer
  box-sizing: border-box
  -webkit-transition: all 0.15s ease-out 0s
  -moz-transition: all 0.15s ease-out 0s
  -ms-transition: all 0.15s ease-out 0s
  -o-transition: all 0.15s ease-out 0s
  transition: all 0.15s ease-out 0s
  color: $white
  @if $themeblue
    background-color: $darkblue
    border: 1px solid $darkblue
  @else
    background-color: $darkgreen
    border: 1px solid $darkgreen
  &:hover, &:active, &:focus
    background-color: transparent
    outline: 0
    text-decoration: none
    @if $themeblue
      color: $darkblue
      border: 1px solid $darkblue
    @else
      color: $darkgreen
      border: 1px solid $darkgreen
  &:disabled
    cursor: not-allowed
    opacity: 0.65
    box-shadow: none
    pointer-events: none

.pressx-en
  @extend .pressx
  font-family: "ubuntu"
  font-size: 0.7rem
  letter-spacing: 0.1rem

.pressx-th
  @extend .pressx
  font-family: "boon"
  font-size: 0.9rem
  letter-spacing: 0.05rem
  // font-weight: bold

.f-icon
  font-size: 120%
  @if $themeblue
    color: $blue
  @else
    color: $green

.f-icon-en
  @extend .f-icon
  margin-top: 0px

.f-icon-th
  @extend .f-icon
  margin-top: 7px

.f-icon2, .f-icon2-en, .f-icon2-th
  margin-top: -5px
  font-size: 150%
  @if $themeblue
    color: $blue
  @else
    color: $green

.pe-university
  font-size: 85%
  vertical-align: 15%

.pe-quote-left, .pe-quote-right
  font-size: 70%
  color: $lightgrey

label.en
  font-size: 1rem

label.th
  font-family: "boon"
  font-size: 1.2rem

textarea.en
  font-size: 1rem

textarea.th
  font-family: "boon"
  font-size: 1.2rem

input.en
  font-size: 1rem

input.th
  font-family: "boon"
  font-size: 1.2rem

@media (max-width: 768px)

  .press-en
    font-size: 0.7rem

  .press-th
    font-size: 0.8rem

  .pressx-en
    font-size: 0.7rem

  .pressx-th
    font-size: 0.8rem

  label.en
    font-size: 1rem

  label.th
    font-size: 1.1rem

  textarea.en
    font-size: 1rem

  textarea.th
    font-size: 1.1rem

  input.en
    font-size: 1rem

  input.th
    font-size: 1.1rem
