\:root
  font-size: 16px
  line-height: 1.428571429
  //letter-spacing: -0.02rem

// font-face

@font-face
  font-family: "neon"
  src: url("../fonts/neon.woff") format("woff")

@font-face
  font-family: "pe"
  font-style: normal
  font-weight: 400
  src: url("../fonts/pe.woff") format("woff")

@font-face
  font-family: "Lucida Grande"
  src: url("../fonts/LucidaGrande.woff") format("woff")

@font-face
  font-family: "roboto"
  src: url("../fonts/roboto.woff") format("woff")

@font-face
  font-family: "monaco"
  src: url("../fonts/monaco.woff") format("woff")

@font-face
  font-family: "ubuntu"
  src: url("../fonts/ubuntu.woff") format("woff")

@font-face
  font-family: "snippet"
  src: url("../fonts/snippet.woff") format("woff")

@font-face
  font-family: "anouvong"
  src: url("../fonts/anouvong.woff") format("woff")

@font-face
  font-family: "supermarket"
  src: url("../fonts/supermarket.woff") format("woff")

@font-face
  font-family: "boon"
  src: url("../fonts/boon.woff") format("woff")


// font-size

h1, h2, h3, h4, h5, h6
  margin-top: 0.5rem
  margin-bottom: 1.5rem

h1
  font-size: 1.8rem
  line-height: 0.71428574
  letter-spacing: -0.1rem
  color: $white

h2
  font-size: 1.9rem
  line-height: 0.75187973
  letter-spacing: -0.1rem
  color: $black

h2.th
  font-family: "boon" !important
  font-size: 2.1rem
  line-height: 0.71428571
  letter-spacing: -0.03rem
  color: $black

h3
  font-size: 1.3rem
  line-height: 1.09890115
  letter-spacing: -0.08rem
  color: $white
  font-family: "ubuntu"
  height: 40px
  background-size: 100%
  padding: 7px 0 10px 10px
  @if $themeblue
    background-image: linear-gradient(to right, $darkblue, rgba(0, 0, 0, 0))
  @else
    background-image: linear-gradient(to right, $darkgreen, rgba(0, 0, 0, 0))

h3.th
  font-family: "boon" !important
  font-size: 1.5rem
  line-height: 1
  letter-spacing: -0.03rem
  color: $white
  font-family: "ubuntu"
  height: 40px
  background-size: 100%
  padding: 7px 0 10px 10px
  @if $themeblue
    background-image: linear-gradient(to right, $darkblue, rgba(0, 0, 0, 0))
  @else
    background-image: linear-gradient(to right, $darkgreen, rgba(0, 0, 0, 0))

h4
  font-size: 1.2rem
  line-height: 1.19047624
  letter-spacing: -0.03rem
  text-transform: uppercase
  padding-top: 10px
  @if $themeblue
    color: $darkblue
  @else
    color: $darkgreen

h4:before
  content: " "
  display: block
  border-top: 1px dotted $silver
  padding-top: 20px

h4.th
  font-family: "boon" !important
  font-size: 1.4rem
  line-height: 1.07142857
  letter-spacing: -0.01rem
  //text-transform: uppercase
  padding-top: 10px
  @if $themeblue
    color: $darkblue
  @else
    color: $darkgreen

h4.th:before
  content: " "
  display: block
  border-top: 1px dotted $silver
  padding-top: 20px

h5
  font-size: 1.05rem
  line-height: 1.36054428
  letter-spacing: -0.03rem
  font-family: "ubuntu"
  //font-weight: bold
  text-transform: uppercase
  color: $grey

h5.th
  font-family: "boon" !important
  font-size: 1.3rem
  line-height: 1.15384615
  letter-spacing: -0.01rem
  font-family: "ubuntu"
  //font-weight: bold
  text-transform: uppercase
  color: $grey

h5.h5index
  font-size: 1.25rem
  line-height: 1.1428571432
  font-weight: bold
  border-bottom: 1px dotted $darkgrey
  padding-top: 10px
  color: $grey

h5.h5indexth
  font-family: "boon" !important
  font-size: 1.5rem
  letter-spacing: -0.03rem
  line-height: 1
  font-weight: bold
  border-bottom: 1px dotted $darkgrey
  padding-top: 10px
  color: $grey

h6
  font-size: 1.0rem
  font-weight: bold
  // line-height: 1.36054428
  letter-spacing: -0.03rem
  font-weight: bold
  text-transform: uppercase
  padding: 0px 15px
  @if $themeblue
    color: $darkblue
  @else
    color: $darkgreen

h6.th
  font-family: "boon" !important
  font-size: 1.1rem
  // line-height: 1.25
  letter-spacing: -0.01rem
  font-weight: bold
  text-transform: uppercase
  padding: 0px 15px
  @if $themeblue
    color: $darkblue
  @else
    color: $darkgreen

p
  font-size: 1rem
  line-height: 1.428571429
  letter-spacing: -0.03rem
  margin-bottom: 1.5rem
  padding: auto 10px

p.th
  font-family: "boon"
  font-size: 1.2rem
  letter-spacing: -0.03rem
  padding: auto 10px

p.lead
  font-family: "snippet"
  font-size: 1.3rem
  color: $grey

p.leadth
  font-family: "boon"
  font-size: 1.5rem
  letter-spacing: -0.03rem
  color: $grey

blockquote
  margin: 0px 5px 20px 5px
  font-family: "snippet"
  font-size: 1.25rem
  color: $darkgrey

blockquote.th
  margin: 0px 5px 20px 5px
  font-family: "boon"
  font-size: 1.45rem
  line-height: 1.03448276
  color: $darkgrey

@media (max-width: 768px)

  // h2
  //   font-size: 1.5rem

  p
    font-size: 1.05rem

  p.lead
    font-size: 1.1rem

  p.leadth
    font-size: 1.3rem

// color control

.white
  color: $white

.silver
  color: $silver

.lightkgrey
  color: $lightgrey

.grey
  color: $grey

.darkgrey
  color: $darkgrey

.black
  color: $black

.blue
  color: $blue

.darkblue
  color: $darkblue

.navy
  color: $navy

.lightgreen
  color: $lightgreen

.green
  color: $green

.darkgreen
  color: $darkgreen

.deepgreen
  color: $deepgreen

.yellow
  color: $yellow

.orange
  color: $orange

.red
  color: $red

.tg
  color: $c-thaiairways

.scb
  color: $c-scb

.plum
  color: $plum

.lightplum
  color: $lightplum

.indigo
  color: $indigo

.tropicalindigo
  color: $tropicalindigo
