\:root
  font-size: 16px

// font-face

@font-face
  font-family: "neon"
  src: url("../fonts/neon.woff") format("woff")

@font-face
  font-family: "pe"
  font-style: normal
  font-weight: 400
  src: url("../fonts/pe.woff") format("woff")

@font-face
  font-family: "Myriad Pro"
  src: url('../fonts/MyriadPro.woff') format("woff")

@font-face
  font-family: "Lucida Grande"
  src: url("../fonts/LucidaGrande.woff") format("woff")

@font-face
  font-family: "Calibri"
  src: url("../fonts/Calibri.woff") format("woff")

@font-face
  font-family: "Monaco"
  src: url("../fonts/Monaco.woff") format("woff")

@font-face
  font-family: "ubuntu"
  src: url("../fonts/ubuntu.woff") format("woff")

@font-face
  font-family: "supermarket"
  src: url("../fonts/supermarket.woff") format("woff")

// font-size

h1, h2, h3, h4, h5, h6
  margin-top: 1.2
  margin-bottom: 1rem

h1
  font-size: 2.25rem
  line-height: 1.15
  letter-spacing: -.1rem
  color: $darkgrey

h2
  font-size: 1.85rem
  line-height: 1.175
  letter-spacing: -.1rem
  color: $darkgrey
  //border-bottom: 1px dotted $lightgrey

h3
  font-size: 1.5rem
  line-height: 1.25
  letter-spacing: -.08rem
  color: $darkgrey

h4
  font-size: 1.5rem
  line-height: 1.2
  letter-spacing: -.1rem
  color: $grey
  border-bottom: 1px dotted $lightgrey

h5
  font-size: 1.2rem
  line-height: 1.3
  letter-spacing: -.05rem

h6
  font-size: 1.2rem
  line-height: 1.4
  letter-spacing: 0

// color control

.white
  color: $white

.silver
  color: $silver

.lightkgrey
  color: $lightgrey

.grey
  color: $grey

.darkgrey
  color: $darkgrey

.black
  color: $black

.blue
  color: $blue

.darkblue
  color: $darkblue

.navy
  color: $navy

.lightgreen
  color: $lightgreen

.green
  color: $green

.darkgreen
  color: $darkgreen

.deepgreen
  color: $deepgreen

.yellow
  color: $yellow

.orange
  color: $orange

.red
  color: $red

.tg
  color: $c-thaiairways

.scb
  color: $c-scb

.plum
  color: $plum

.lightplum
  color: $lightplum

.indigo
  color: $indigo

.tropicalindigo
  color: $tropicalindigo
