// anchor

.anchorjs-link
  color: inherit
  text-decoration: none

  &:hover
    color: $orange
    text-decoration: none

*:hover > .anchorjs-link
  -webkit-transition: color .25s linear
  -moz-transition: color .25s linear
  -ms-transition: color .25s linear
  -o-transition: color .25s linear
  transition: color .25s linear


// badge

.badge
  display: inline
  min-width: 10px
  padding: 3px 7px
  font-family: "ubuntu"
  font-size: 12px
  font-weight: bold
  color: $white
  line-height: 1
  vertical-align: middle
  white-space: nowrap
  text-align: center
  @if $themeblue
    background-color: $navy
  @else
    background-color: $deepgreen
  border-radius: 10px
  &:empty
    display: none


// label

.label
  font-family: "ubuntu"
  padding: 3px 4px
  font-size: 65%
  font-weight: bold
  letter-spacing: 0
  text-transform: uppercase
  color: $white
  vertical-align: text-top
  border-radius: 4px
  box-shadow: inset -2px -2px 0 transparentize($black, 0.5)

.label-red
  @extend .label
  background-color: $red

.label-green
  @extend .label
  background-color: $green

.label-blue
  @extend .label
  background-color: $blue

.alert
  box-shadow: inset 0 0 2px $grey

  p.en
    font-size: 0.75rem

  p.th
    font-size: 0.9rem

.alert-pe
  @extend .alert
  color: $black
  background-color: $yellow

  p.en
    font-size: 0.75rem

  p.th
    font-size: 0.9rem

.close
  color: $darkgrey
  text-shadow: 0px 1px 0px $white
  opacity: 0.25
  font-size: 1.2rem
  &:hover, &:focus
    color: $black
    text-decoration: none
    cursor: pointer


@media (max-width: 768px)


  .label
    font-size: 60%
    font-weight: bold

    p.en
      font-size: 0.70rem

    p.th
      font-size: 0.85rem

  .alert-pe

    p.en
      font-size: 0.70rem

    p.th
      font-size: 0.85rem

  .close
    font-size: 1.1rem



// stack

span.pe-stack
  color: $grey

  &:hover
    @if $themeblue
      color: $blue
    @else
      color: $green
    -webkit-animation: shake 0.7s ease-in-out
    -moz-animation: shake 0.7s ease-in-out
    -ms-animation: shake 0.7s ease-in-out
    -o-animation: shake 0.7s ease-in-out
    animation: shake 0.7s ease-in-out

@keyframes shake
  10%, 90%
    -webkit-transform: translate3d(-1px, 0, 0)
    -moz-transform: translate3d(-1px, 0, 0)
    -ms-transform: translate3d(-1px, 0, 0)
    -o-transform: translate3d(-1px, 0, 0)
    transform: translate3d(-1px, 0, 0)

  20%, 80%
    -webkit-transform: translate3d(2px, 0, 0)
    -moz-transform: translate3d(2px, 0, 0)
    -ms-transform: translate3d(2px, 0, 0)
    -o-transform: translate3d(2px, 0, 0)
    transform: translate3d(2px, 0, 0)

  30%, 50%, 70%
    -webkit-transform: translate3d(-4px, 0, 0)
    -moz-transform: translate3d(-4px, 0, 0)
    -ms-transform: translate3d(-4px, 0, 0)
    -o-transform: translate3d(-4px, 0, 0)
    transform: translate3d(-4px, 0, 0)

  40%, 60%
    -webkit-transform: translate3d(4px, 0, 0)
    -moz-transform: translate3d(4px, 0, 0)
    -ms-transform: translate3d(4px, 0, 0)
    -o-transform: translate3d(4px, 0, 0)
    transform: translate3d(4px, 0, 0)

span.pe-stack.active
  @if $themeblue
    color: $navy
  @else
    color: $deepgreen


// scroll to top

.scroll-to-top
  font-family: "ubuntu"
  font-size: 1.3rem
  background: transparentize($black, 0.7)
  color: $white
  bottom: 4%
  cursor: pointer
  display: none
  position: fixed
  right: 20px
  z-index: 999
  text-align: center
  line-height: 40px
  width: 40px
  border-radius: 4px
  -webkit-transition: background-color 0.3s linear
  -moz-transition: background-color 0.3s linear
  -ms-transition: background-color 0.3s linear
  -o-transition: background-color 0.3s linear
  transition: background-color 0.3s linear
  &:hover
    opacity: 0.8
    @if $themeblue
      background: $darkblue
    @else
      background: $darkgreen


// table of content (TOC)

div#toc
  position: relative
  float: right
  width: auto
  padding: 10px
  margin: 65px 0px 10px 15px
  color: $grey
  overflow: hidden
  text-transform: uppercase
  @if $themeblue
    background-color: $lightblue
    box-shadow: inset 0 0 5px $blue
  @else
    background-color: $lightgreen
    box-shadow: inset 0 0 5px $green
  &:before
    content: ""
    position: absolute
    top: 0px
    right: 0px
    border-width: 0px 16px 16px 0px
    border-style: solid
    @if $themeblue
      border-color: $white $white $darkblue $darkblue
      background: $darkblue
    @else
      border-color: $white $white $darkgreen $darkgreen
      background: $darkgreen
    box-shadow: 0 1px 1px $grey, -1px 1px 1px $grey
    display: block
    width: 0

  .toc-head, .toc-head-th
    font-family: "ubuntu"
    font-size: 0.8rem
    font-weight: bold

  ul.toc-list, ol.toc-list, ul.toc-list-th, ol.toc-list-th
    margin: 10px auto 15px auto
    font-style: italic

    li.toc-list-item
      list-style-type: none
      font-family: "ubuntu"
      font-size: 0.7rem

    li.toc-list-item:before
      font-family: "pe"
      content: "\f101"
      display: inline-block
      margin: auto 5px auto 0px

    li.toc-list-item-th
      list-style-type: none
      font-family: "boon"
      font-size: 0.9rem

    li.toc-list-item-th:before
      font-family: "pe"
      content: "\f101"
      display: inline-block
      margin: auto 5px auto 0px

    ul.toc-list, ol.toc-list, ul.toc-list-th, ol.toc-list-th
      margin: 5px auto 10px auto
      font-style: normal

      li.toc-list-item
        list-style-type: none
        font-family: "ubuntu"
        font-size: 0.65rem

      li.toc-list-item:before
        font-family: "pe"
        content: "\f0da"
        display: inline-block
        margin: auto 5px auto 0px

      li.toc-list-item-th
        list-style-type: none
        font-family: "boon"
        font-size: 0.8rem

      li.toc-list-item-th:before
        font-family: "pe"
        content: "\f0da"
        display: inline-block
        margin: auto 5px auto 0px

  a
    color: $grey
    &:hover
      text-decoration: underline
      color: $orange

  i.pe-list-alt
    padding-right: 3px
    @if $themeblue
      color: $blue
    @else
      color: $green

  a#hide, a#show
    font-size: 100%
    color: $grey
    &:hover
      color: $orange


// more.html

.helpful
  width: 150px
  height: 80px
  position: relative
  left: 0px
  margin-bottom: 10px

  div.h
    position: absolute
    text-align: center

  div.h-yes
    @extend div.h
    top: 0px
    left: 0px

  div.h-no
    @extend div.h
    top: 5px
    left: 100px

  .tlabel
    text-transform: uppercase
    font-weight: bold
    color: $grey
    cursor: pointer

  .tlable-en
    @extend .tlabel
    font-family: "ubuntu"
    font-size: 0.7rem

  .tlabel-th
    @extend .tlabel
    font-family: "boon"
    font-size: 0.75rem

.helpfulnote
  color: $lightgrey

.helpfulnote-en
  @extend .helpfulnote
  font-size: 0.8rem

.helpfulnote-th
  @extend .helpfulnote
  font-family: "boon"
  font-size: 0.9rem


// post listing

.listposts-border-space
  border: 2px dotted transparent
  margin-bottom: 30px

.listposts
  width: 100%
  height: auto
  margin: 0px
  padding: 0px
  box-shadow: 5px 5px 5px $silver
  border: 1px solid $grey
  @if $themeblue
    background: transparentize($lightblue, 0.5)
  @else
    background: transparentize($lightgreen, 0.5)

  h5.listposts-head
    height: 40px
    width: 100%
    margin: 0px
    @if $themeblue
      background-color: transparentize($darkblue, 0.25)
    @else
      background-color: transparentize($darkgreen, 0.25)
    a
      color: $white
      &:hover
        color: $orange

  h5.listposts-head-en
    @extend h5.listposts-head
    font-family: "ubuntu"
    font-size: 1.1rem
    padding: 8px 15px

  h5.listposts-head-th
    @extend h5.listposts-head
    font-family: "boon"
    font-size: 1.3rem
    padding: 5px 15px

  .p-icon
    float: right
    color: $white
    font-size: 150%
    margin-top: 10px
    margin-right: 15px
    text-shadow: 0 1px 1px $darkgrey

  .p-tag
    margin: 0px
    padding: 10px 15px
    text-align: right
    font-size: 0.7rem
    color: $lightgrey
    a
      color: $lightgrey
      &:hover
        color: $orange

  .listposts-footer-en, .listposts-footer-th
    text-align: right
    padding: 10px 15px
    margin-bottom: 10px

.h5-icon
  font-size: 70%


// topic listing

.listtopics-svg
  width: 150px
  height: 120px
  float: right
  top: 0px
  right: 0px

.listtopics-border-space
  border: 2px dotted transparent
  margin-bottom: 20px

.listtopics
  width: 100%
  height: auto
  margin: 0px
  padding: 0px 0px 20px 0px
  box-shadow: 0 4px 6px $lightgrey

  a
    color: $white
    &:hover
      color: $orange

  .listtopics-size
    float: right
    color: $orange
    font-weight: bold
    margin-right: 20px

  .listtopics-size-en
    @extend .listtopics-size
    font-size: 0.7rem

  .listtopics-size-th
    @extend .listtopics-size
    font-family: "boon"
    font-size: 0.85rem

  .t-icon
    float: right
    font-size: 150%
    @if $themeblue
      color: $darkblue
    @else
      color: $darkgreen
    margin-top: 10px
    margin-right: 15px
    text-shadow: 0 1px 1px $white

  .listtopics-body
    margin: 0px
    padding: 0px 15px 20px 15px

  .listtopics-body-en
    @extend .listtopics-body

  .listtopics-body-th
    @extend .listtopics-body
    font-family: "boon"
    font-size: 1.05rem

  .m-tag
    font-size: 0.75rem
    color: $grey
    text-align: right
    a
      color: $grey
      &:hover
        color: $orange



// list group

ul.lists-en
  width: 100%
  margin-bottom: 35px
  padding: 0px

li.listtopics-item-en
  color: $darkgrey
  display: block
  padding: 5px 10px
  margin-bottom: -1px
  margin-left: 0px
  width: 100%
  border: 1px solid $silver
  a
    color: $darkgrey
  &:first-child
    border-top-right-radius: 4px
    border-top-left-radius: 4px
  &:last-child
    margin-bottom: 0
    border-bottom-right-radius: 4px
    border-bottom-left-radius: 4px
  &:hover
    @if $themeblue
      background-color: $lightblue
    @else
      background-color: $lightgreen

li.listtopics-item-en.disabled
  background-color: #eee
  color: $lightgrey
  cursor: not-allowed

ul.lists-th
  font-family: "boon"
  width: 100%
  margin-bottom: 35px
  padding: 0px

li.listtopics-item-th
  color: $black
  display: block
  padding: 5px 10px
  margin-bottom: -1px
  margin-left: 0px
  width: 100%
  border: 1px solid $silver
  font-family: "boon"
  font-size: 1.05rem
  a
    color: $black
  &:first-child
    border-top-right-radius: 4px
    border-top-left-radius: 4px
  &:last-child
    margin-bottom: 0
    border-bottom-right-radius: 4px
    border-bottom-left-radius: 4px
  &:hover
    @if $themeblue
      background-color: $lightblue
    @else
      background-color: $lightgreen

li.listtopics-item-th.disabled
  background-color: #eee
  color: $lightgrey
  cursor: not-allowed


// more

.moretopics
  position: relative
  margin: 0px

  .moremore
    margin: 0px auto




// main article

.post-meta
  padding: 9px 14px
  margin-top: 20px
  margin-bottom: 30px
  border-radius: 4px
  line-height: 1.3
  font-family: "ubuntu"
  color: $lightgrey
  background-color: transparentize($silver, 0.3)
  box-shadow: inset 0 0 2px $grey

  .m-section, .m-cat, .m-tag
    font-size: 0.8rem
    line-height: 1.0

    a
      color: $lightgrey
      &:hover
        @if $themeblue
          color: $blue
        @else
          color: $green

  .m-icon
    color: $white
    text-shadow: 0 1px 2px $grey

  .m-icon-lg
    float: right
    padding: 5px

.questionbox
  margin: 0px 10px 30px 10px

  .article-svg
    float: left
    padding: 10px 30px 0px 10px


// front page

.index
  text-align: center

  .h2logo
    font-size: 60%

  .index-border
    border: 2px dotted transparent
    margin-bottom: 20px
    a
      color: $grey
      text-decoration: none
      &:hover
        color: $grey
        text-decoration: none

  .indexbox
    box-shadow: 0 4px 6px $lightgrey
    border: 1px solid $grey
    box-shadow: 0 1px 2px $lightgrey, 0 5px 10px $silver
    -webkit-transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out
    -moz-transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out
    -ms-transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out
    -o-transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out
    transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out

    &:hover
      text-decoration: none
      border-color: $grey
      box-shadow: 0 1px 3px $grey, 0 8px 15px $grey

    h3
      font-size: 1.3rem
      margin-top: 0px
      @if $themeblue
        background-color: $darkblue
      @else
        background-color: $darkgreen
      a
        color: $white
        &:hover
          color: $orange

    p.indexp
      padding: 20px 30px

    p.indexp-en
      @extend p.indexp
      font-size: 1rem

    p.indexp-th
      @extend p.indexp
      font-family: "boon"
      font-size: 1.2rem
      letter-spacing: -0.03rem

    .front-svg
      margin: 20px auto
      width: 350px
      height: 280px


@media (max-width: 768px)

  .index

    .indexbox

      h3
        font-size: 1.2rem

      p
        font-size: 0.9rem


// new topic

.newquestion
  width: 100%
  margin: 10px auto
  padding: 20px 10px

  h3
    color: $darkgrey
    background-image: none
    background-color: transparent
    text-transform: uppercase
    font-size: 1.4rem
    height: auto
    padding: 0px

  .pe-commenting-o
    font-size: 175%

  .form-group
    margin-bottom: 0px
    padding-bottom: 0px

  .form-control-feedback
    position: absolute
    top: 5px
    right: 5px
    z-index: 2
    display: block
    width: 34px
    height: 34px
    line-height: 34px
    text-align: center
    pointer-events: none


@media (max-width: 768px)

  .newquestion

    h3
      font-size: 1.2rem

    .pe-commenting-o
      font-size: 175%


// panel

.panel
  margin-bottom: 30px
  background-color: $white
  border: 1px solid $silver
  border-radius: 4px

  .panel-heading
    padding: 10px 15px
    border-bottom: 1px solid transparent
    border-top-right-radius: 3px
    border-top-left-radius: 3px
    @if $themeblue
      background-color: $lightblue
    @else
      background-color: $lightgreen

  span.panel-title
    letter-spacing: -0.01rem
    font-weight: bold
    text-transform: uppercase
    margin: 0px
    padding: 0px
    color: $grey
    >
      a, small, .small, small > a, .small > a
        color: inherit

  span.panel-title-en
    @extend span.panel-title
    font-family: "ubuntu"
    font-size: 0.85rem

  span.panel-title-th
    @extend span.panel-title
    font-family: "boon"
    font-size: 0.95rem

  .panel-body
    padding: 15px
    color: $black
    &:before
      content: " "
      display: table
    &:after
      content: " "
      display: table
      clear: both

    p, label, input, textarea, table, .input-group
      font-family: "ubuntu"
      font-size: 0.85rem

    p.th
      font-family: "boon"
      font-size: 1.05rem
