---
title: "Navigation generator"
section: "home"
permalink: /assets/gen-nav.html
layout:
search: exclude
---

############################################################################
# HEADER NAVIGATION
############################################################################

header:

- title: "Home"
  icon: university
  host: support
  url: "/"
  section: "home"
  description: "The front page of our support website"

- title: "Members"
  icon: user
  host: support
  url: "/members/"
  section: "members"
  description: "Supports for members"

- title: "Clients"
  icon: briefcase
  host: support
  url: "/clients/"
  section: "clients"
  description: "Supports for clients"

- title: "Search"
  icon: search
  host: support
  url:
  section: "search"
  description: "Search this website"

- title: "Back"
  icon: undo
  host: main-en
  url:
  section: "back"
  description: "Back to the main website"



############################################################################
# FOOTER NAVIGATION
############################################################################

footer:

- title: "Privacy policy"
  stitle: "Privacy"
  icon: lock
  host: main-en
  url: "/about/privacy.html"
  disable: false

- title: "Terms of services"
  stitle: "TOS"
  icon: gavel
  host: main-en
  url: "/about/tos.html"
  disable: false

- title: "Terms &amp; conditions"
  stitle: "Terms"
  icon: balance-scale
  host: main-en
  url: "/about/terms.html"
  disable: false

- title: "Back to the main website"
  stitle: "The main website"
  icon: arrow-circle-left
  host: main-en
  url: "/"
  disable: false


  ############################################################################
  # MEMBER DOCUMENT MENU
  ############################################################################

  members:
  {% assign groups = site.members | group_by: "category" %}{% for group in groups %}
  - title: "{{ group.name | replace: "-", " " | capitalize }}"
    name: {{ group.name }}
    url: "/clients/{{ group.name }}/"
    section: "clients"
    icon: {% if group.name == "new-survey" %}file-text{% elsif group.name == "your-survey" %}list{% elsif group.name == "monitor" %}line-chart{% elsif group.name == "results" %}bar-chart{% elsif group.name == "account" %}cogs{% elsif group.name == "knowledge" %}graduation-cap{% endif %}
    size: {{ group.size }}
    label: false
    label-color: false
    disable: false
    items:
  {% for entry in group.items %}
    - title: "{{ entry.title }}"
      url: "{{ entry.url }}"
      section: "{{ entry.section }}"
      category: "{{ entry.category }}"
      tags: "{% if entry.tags %}{% for tag in entry.tags %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}"
      icon: {% if entry.icon %}{{ entry.icon }}{% endif %}
      label: false
      label-color: false
      disable: false
  {% endfor %}{%endfor%}


############################################################################
# CLIENT DOCUMENT MENU
############################################################################

clients:
{% assign groups = site.clients | group_by: "category" %}{% for group in groups %}
- title: "{{ group.name | replace: "-", " " | capitalize }}"
  name: {{ group.name }}
  url: "/clients/{{ group.name }}/"
  section: "clients"
  icon: {% if group.name == "new-survey" %}file-text{% elsif group.name == "your-survey" %}list{% elsif group.name == "monitor" %}line-chart{% elsif group.name == "results" %}bar-chart{% elsif group.name == "account" %}cogs{% elsif group.name == "knowledge" %}graduation-cap{% endif %}
  size: {{ group.size }}
  label: false
  label-color: false
  disable: false
  items:
{% for entry in group.items %}
  - title: "{{ entry.title }}"
    url: "{{ entry.url }}"
    section: "{{ entry.section }}"
    category: "{{ entry.category }}"
    tags: "{% if entry.tags %}{% for tag in entry.tags %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}"
    icon: {% if entry.icon %}{{ entry.icon }}{% endif %}
    label: false
    label-color: false
    disable: false
{% endfor %}{%endfor%}


############################################################################
# COMBINED DOCUMENT MENU (MEMBER/CLIENT)
############################################################################

all:
{% assign groups = site.documents | group_by: "category" %}{% for group in groups %}
- title: "{{ group.name | replace: "-", " " | capitalize }}"
  name: {{ group.name }}
  url: "/{% if group.name == "general" %}members{% elsif group.name == "dashboard" %}members{% elsif group.name == "survey" %}members{% elsif group.name == "others" %}members{% elsif group.name == "new-survey" %}clients{% elsif group.name == "your-survey" %}clients{% elsif group.name == "monitor" %}clients{% elsif group.name == "results" %}clients{% elsif group.name == "account" %}clients{% elsif group.name == "knowledge" %}clients{% endif %}/{{ group.name }}/"
  section: "{% if group.name == "general" %}members{% elsif group.name == "dashboard" %}members{% elsif group.name == "survey" %}members{% elsif group.name == "others" %}members{% elsif group.name == "new-survey" %}clients{% elsif group.name == "your-survey" %}clients{% elsif group.name == "monitor" %}clients{% elsif group.name == "results" %}clients{% elsif group.name == "account" %}clients{% elsif group.name == "knowledge" %}clients{% endif %}"
  icon: {% if group.name == "general" %}info-circle{% elsif group.name == "dashboard" %}dashboard{% elsif group.name == "survey" %}pencil-square{% elsif group.name == "others" %}flask{% elsif group.name == "new-survey" %}file-text{% elsif group.name == "your-survey" %}list{% elsif group.name == "monitor" %}line-chart{% elsif group.name == "results" %}bar-chart{% elsif group.name == "account" %}cogs{% elsif group.name == "knowledge" %}graduation-cap{% endif %}
  size: {{ group.size }}
  label: false
  label-color: false
  disable: false
  items:
{% for entry in group.items %}
  - title: "{{ entry.title }}"
    url: "{{ entry.url }}"
    section: "{{ entry.section }}"
    category: "{{ entry.category }}"
    tags: "{% if entry.tags %}{% for tag in entry.tags %}{{ tag }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endif %}"
    icon: {% if entry.icon %}{{ entry.icon }}{% endif %}
    label: false
    label-color: false
    disable: false
{% endfor %}{%endfor%}
