{% if page.locale == "th" %}
          <nav class="menulistth">
            {% assign groups = site.[include.section] | group_by: "category" %}
            {% for group in groups %}
              {% for mm in site.data.category.[include.section] %}
              {% if mm.slug == group.name %}{% assign gicon = mm.icon %}{% endif %}
              {% endfor %}
              {% capture gurl %}/{{ page.locale }}/{{ page.nav }}/{{ group.name }}/{% endcapture %}
            <h5 class="th"><i class="pe-{{ gicon }} pe-fw"></i> <a href="{{ gurl | prepend: site.baseurl }}" title="Category: {% for ww in site.data.category.[include.section] %}{% if ww.slug == group.name %}{{ ww.nameth }}{% endif %}{% endfor %}">{% for ww in site.data.category.[include.section] %}{% if ww.slug == group.name %}{{ ww.nameth }}{% endif %}{% endfor %}</a></h5>
            <ul class="verticalth">
            {% for item in group.items %}
              {% if item.disable %}<li class="th disabled">{% elsif item.url == page.url %}<li class="th active">{% else %}<li class="th">{% endif %}{% if item.disable %}{{ item.title }}{% elsif item.url == page.url %}{{ item.title }}{% else %}<a href="{{ item.url | prepend: site.baseurl }}" title="{{ item.title }}">{{ item.title }}</a>{% endif %}{% if item.label %} <span class="label {{ item.label-color }}">{{ item.label }}</span>{% endif %}</li>
            {% endfor %}
            </ul>
          {% endfor %}
          </nav>
{% else %}
          <nav class="menulist">
            {% assign groups = site.[include.section] | group_by: "category" %}
            {% for group in groups %}
              {% for mm in site.data.category.[include.section] %}
              {% if mm.slug == group.name %}{% assign gicon = mm.icon %}{% endif %}
              {% endfor %}
              {% capture gurl %}/{{ page.locale }}/{{ page.nav }}/{{ group.name }}/{% endcapture %}
            <h5><i class="pe-{{ gicon }} pe-fw"></i> <a href="{{ gurl | prepend: site.baseurl }}" title="Category: {% for ww in site.data.category.[include.section] %}{% if ww.slug == group.name %}{{ ww.nameth }}{% endif %}{% endfor %}">{{ group.name | replace: "-", " " | capitalize }}</a></h5>
            <ul class="vertical">
            {% for item in group.items %}
              {% if item.disable %}<li class="disabled">{% elsif item.url == page.url %}<li class="active">{% else %}<li>{% endif %}{% if item.disable %}{{ item.title }}{% elsif item.url == page.url %}{{ item.title }}{% else %}<a href="{{ item.url | prepend: site.baseurl }}" title="{{ item.title }}">{{ item.title }}</a>{% endif %}{% if item.label %} <span class="label {{ item.label-color }}">{{ item.label }}</span>{% endif %}</li>
            {% endfor %}
            </ul>
          {% endfor %}
          </nav>
{% endif %}
