<!doctype html>
<html>
	<head>
  <title>Index</title>
	<link rel="stylesheet" href="/css/site.css">
</head>

<body>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
  <symbol id="logo">
    <g>
      <path d="M9.987 16.07c-.58.524-1.592.785-3.035.785H0V3.145h6.704c1.547 0 2.582.287 3.104.86.535.495.8 1.397.8 2.706 0 1.036-.183 1.798-.552 2.286-.293.357-.743.607-1.353.75v.07c.67.078 1.17.29 1.497.637.328.347.532.73.612 1.147.08.418.12.897.12 1.435 0 1.48-.316 2.49-.945 3.035zm-3.07-7.222c.433-.077.728-.28.886-.604.16-.326.238-.752.238-1.28 0-.51-.082-.895-.247-1.15-.125-.162-.306-.27-.542-.33-.236-.06-.614-.09-1.134-.09H2.57v3.49H6.08c.403 0 .682-.012.836-.036zm-.374 2.05H2.57v3.708h3.835c.467 0 .833-.035 1.1-.107.56-.21.84-.77.84-1.684 0-.755-.112-1.267-.34-1.535-.26-.255-.748-.383-1.462-.383z" />
      <path d="M16.774 16.856L10.94 9.838l5.373-6.694h3.134l-5.402 6.71L20 16.855z" />
    </g>
  </symbol>
</svg>

<header class="header  header--main" id="top">
  <div class="container">
    <div class="row">
      <div class="span-4  span--quarter">
        <a class="logo" href="/">
          <svg class="icon  icon--logo">
            <switch>
              <use xlink:href="#logo"></use>
              <foreignObject width="20" height="20">
                <img src="/assets/icons/logo.png" alt="BaseKit">
              </foreignObject>
            </switch>
          </svg>
        </a>
      </div>
      <div class="span-8  span--three-quarters">
        <nav class="nav  nav--main">
          <p>
            <a href="http://knowledge.basekit.com/">Knowledge Forum <span class="octicon octicon-comment-discussion"></span></a>
            <a href="http://github.com/basekit-templates">GitHub <span class="octicon octicon-mark-github"></span></a>
            <a class="button" href="http://basekit-tdk.s3.amazonaws.com/tdk-stable.zip">Download TDK <span class="octicon octicon-cloud-download"></span></a>
          </p>
        </nav>
      </div>
    </div>
  </div>
</header>

<div class="main  main--body  main--feature">

  <header class="header  header--feature">
    <div class="container">
      <div class="row">
        <div class="span-12">
          <div class="text-align--center">
            <h1>BaseKit Documentation</h1>
          </div>
          <div class="text-align--center">
            <h2>Developing for the BaseKit platform</h2>
          </div>
          <form class="search-form">
            <fieldset>
              <div class="search-field">
                <label class="search-label" for="search-field">Search documentation...</label>
                <input type="text" id="search-field" class="search-input" autocomplete="off" required="" />
              </div>
              <span class="octicon  octicon-search"></span>
              <ul id="search-results" class="nav-list nav-list--search-results" data-state="default"></ul>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </header>


  <div class="container  container--feature">
    <div class="row">
      <div class="span-12">
        <div class="feature-card">
          <a href="/getting-started/">
            <span class="octicon octicon-milestone"></span>
          </a>
          <h2><a href="/getting-started/">Getting Started</a></h2>
          <p>Before you begin to develop your responsive site you will need to do the following...</p>
          <div class="button-container">
            <a class="button" href="/getting-started/">Get started</a>
          </div>
        </div>
        <div class="feature-card">
          <a href="/templating/twig/">
            <span class="octicon octicon-file-code"></span>
          </a>
          <h2><a href="/templating/twig/">Templating</a></h2>
          <p>The Template Engine is based on Twig...</p>
          <div class="button-container">
            <a class="button" href="/templating/twig/">Start building</a>
          </div>
        </div>
        <div class="feature-card">
          <a href="/data/">
            <span class="octicon octicon-file-text"></span>
          </a>
          <h2><a href="/data/">Site Data</a></h2>
          <p>There are many data sources exposed to a template that can be used to populate a template...</p>
          <div class="button-container">
            <a class="button" href="/data/">Learn more about site data</a>
          </div>
        </div>
        <div class="feature-card">
          <a href="/widgets/">
            <span class="octicon octicon-puzzle"></span>
          </a>
          <h2><a href="/widgets/">Widgets</a></h2>
          <p>You can add functionality to your template by including different kinds of widgets...</p>
          <div class="button-container">
            <a class="button" href="/widgets/">Learn more about Widgets</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer  footer--main">
  <div class="container">
    <div class="row">
      <div class="span-3  span--half">
        <div class="copyright">
          <p>&copy; Copyright 2016</p>
        </div>
      </div>
      <div class="span-9  span--half">
        <nav class="nav  nav--footer">
          <p>
            <a href="#top" data-scroll="true">Back to top <span class="octicon octicon-arrow-up"></span></a>
          </p>
        </nav>
      </div>
    </div>
  </div>
</footer>

<script src="/js/jekyll-search.js"></script>
<script src="/js/position-sticky.js"></script>
<script src="/js/smooth-scroll.js"></script>
<script src="/js/clipboard.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/classList.js"></script>
<script src="/js/gumshoe.js"></script>
<script src="/js/fastclick.js"></script>
<script>
  smoothScroll.init();
  gumshoe.init({
    offset: 17
  });
  if ('addEventListener' in document) {
    document.addEventListener('DOMContentLoaded', function() {
      FastClick.attach(document.body);
    }, false);
  }
</script>

</body>
</html>
