<!doctype html>
<html>
	<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Main</title>
	<meta name="robots" content="index, follow">
	<link rel="stylesheet" href="/css/screen.css">
</head>

<body>

<svg xmlns="http://www.w3.org/2000/svg" style="display:none"><symbol id="logo"><g><path d="M9.987 16.07c-.58.524-1.592.785-3.035.785H0V3.145h6.704c1.547 0 2.582.287 3.104.86.535.495.8 1.397.8 2.706 0 1.036-.183 1.798-.552 2.286-.293.357-.743.607-1.353.75v.07c.67.078 1.17.29 1.497.637.328.347.532.73.612 1.147.08.418.12.897.12 1.435 0 1.48-.316 2.49-.945 3.035zm-3.07-7.222c.433-.077.728-.28.886-.604.16-.326.238-.752.238-1.28 0-.51-.082-.895-.247-1.15-.125-.162-.306-.27-.542-.33-.236-.06-.614-.09-1.134-.09H2.57v3.49H6.08c.403 0 .682-.012.836-.036zm-.374 2.05H2.57v3.708h3.835c.467 0 .833-.035 1.1-.107.56-.21.84-.77.84-1.684 0-.755-.112-1.267-.34-1.535-.26-.255-.748-.383-1.462-.383z"/><path d="M16.774 16.856L10.94 9.838l5.373-6.694h3.134l-5.402 6.71L20 16.855z"/></g></symbol></svg>

<header class="header  header--main" id="top">
  <div class="container">
    <div class="row">
      <div class="span-4  span--quarter">
        <a class="logo" href="/">
          <svg class="icon  icon--logo">
            <switch>
              <use xlink:href="#logo"></use>
              <foreignObject width="20" height="20">
                <img src="/assets/icons/logo.png" alt="BaseKit">
              </foreignObject>
            </switch>
          </svg>
        </a>
      </div>
      <div class="span-8  span--three-quarters">
        <nav class="nav  nav--main">
          <p>
            <a href="http://knowledge.basekit.com/">Knowledge Forum <span class="octicon octicon-comment-discussion"></span></a>
            <a href="http://github.com/basekit-templates">GitHub <span class="octicon octicon-mark-github"></span></a>
            <a class="button" href="http://basekit-tdk.s3.amazonaws.com/tdk-stable.zip">Download TDK <span class="octicon octicon-cloud-download"></span></a>
          </p>
        </nav>
      </div>
    </div>
  </div>
</header>


<div class="main  main--body">
	<div class="container">
		<div class="row">
			<div class="span-3">

        <aside class="aside  aside--search">
          <form class="search-form">
            <fieldset>
              <div class="search-field">
              	<label class="search-label" for="search-field">Search documentation...</label>
              	<input type="text" id="search-field" class="search-input" autocomplete="off" required="" />
              </div>
            <span class="octicon  octicon-search"></span>
            <ul id="search-results" class="nav-list nav-list--search-results" data-state="default"></ul>
            </fieldset>
          </form>
          <button class="toggle-button" data-state="closed"><span>Menu</span> <span class="octicon octicon-three-bars"></span></button>
        </aside>

      	<aside class="aside  aside--docs">
      		<nav class="nav  nav--docs" data-state="closed">
          	<ul class="nav-list  nav-list--parent">
          		<li class="nav-item  nav-item--parent">
          			<span class="octicon octicon-milestone"></span><a href="/getting-started/" class="nav-subtitle">Getting Started</a>
          			<ul class="nav-list nav-list--child">
            			<li class="nav-item nav-item--child"><a href="/getting-started/local-development/" >Local Development</a></li>
            			<li class="nav-item nav-item--child"><a href="/getting-started/downloading/" >Downloading a Template</a></li>
            			<li class="nav-item nav-item--child"><a href="/getting-started/editing/" >Editing a Template</a></li>
            			<li class="nav-item nav-item--child"><a href="/getting-started/uploading/" >Uploading a Template</a></li>
          			</ul>
          		</li>
          		<li class="nav-item  nav-item--parent">
            		<span class="octicon octicon-file-code"></span><span class="nav-subtitle">Templating</span>
            		<ul class="nav-list nav-list--child">
            			<li class="nav-item nav-item--child"><a href="/templating/twig/" class="active">Twig</a></li>
            			<li class="nav-item nav-item--child"><a href="/templating/assets/" >Assets</a></li>
            			<li class="nav-item nav-item--child"><a href="/templating/javascript/" >JavaScript</a></li>
            			<li class="nav-item nav-item--child"><a href="/templating/page-types/" >Page Types</a></li>
            			<li class="nav-item nav-item--child"><a href="/templating/metadata/" >Metadata</a></li>
            			<li class="nav-item nav-item--child"><a href="/templating/less/" >LESS</a></li>
            			<li class="nav-item nav-item--child"><a href="/templating/quality/" >Quality</a></li>
            		</ul>
          		</li>
          		<li class="nav-item  nav-item--parent">
            		<span class="octicon octicon-file-text"></span><a href="/data/" class="nav-subtitle">Data</a>
            		<ul class="nav-list nav-list--child">
            			<li class="nav-item nav-item--child"><a href="/data/site/" >Site</a></li>
            			<li class="nav-item nav-item--child"><a href="/data/page/" >Page</a></li>
            			<li class="nav-item nav-item--child"><a href="/data/profile/" >Profile</a></li>
            			<li class="nav-item nav-item--child"><a href="/data/plugin/" >Plugin</a></li>
            			<li class="nav-item nav-item--child"><a href="/data/font-stacks/" >Font Stacks</a></li>
            		</ul>
          		</li>
          		<li class="nav-item  nav-item--parent">
            		<span class="octicon octicon-puzzle"></span><a href="/widgets/" class="nav-subtitle">Widgets</a>
            		<ul class="nav-list nav-list--child">
            			<li class="nav-item nav-item--child  nav-item--parent"><span class="nav-subtitle">Content & Images</span></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/content-widget/" >Content Widget</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/page-title/" >Page Title</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/line/" >Line</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/space/" >Space</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/gallery/" >Gallery</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/image/" >Image</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/slideshow/" >Slideshow</a></li>
            			<li class="nav-item nav-item--child  nav-item--parent"><span class="nav-subtitle">Template Elements</span></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/logo/" >Logo</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/company-name/" >Company Name</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/extended-navigation/" >Extended Navigation</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/feature/" >Feature</a></li>
            			<li class="nav-item nav-item--child  nav-item--parent"><span class="nav-subtitle">Buttons</span></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/button-widget/" >Button Widget</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/tweet-button/" >Tweet Button</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/click-to-call/" >Click To Call</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/dropbox-button/" >Dropbox Button</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/facebook-like/" >Facebook Like</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/social-icons/" >Social Icons</a></li>
            			<li class="nav-item nav-item--child  nav-item--parent"><span class="nav-subtitle">Forms</span></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/signup-form/" >Signup Form</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/contact-form/" >Contact Form</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/advanced-contact-form/" >Advanced Contact Form</a></li>
            			<li class="nav-item nav-item--child  nav-item--parent"><span class="nav-subtitle">Embeds</span></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/map/" >Map</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/soundcloud/" >SoundCloud</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/youtube/" >YouTube</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/disqus-comments/" >Disqus Comments</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/linkedin-company-profile/" >LinkedIn Company Profile</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/linkedin-profile/" >LinkedIn Profile</a></li>
            			<li class="nav-item nav-item--child  nav-item--parent"><span class="nav-subtitle">Profile</span></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/profile/" >Profile</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/company-address/" >Company Address</a></li>
            			<li class="nav-item nav-item--child  nav-item--parent"><span class="nav-subtitle">APIs</span></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/yelp-reviews/" >Yelp Reviews</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/twitter/" >Twitter</a></li>
            		</ul>
          		</li>
          		<li class="nav-item  nav-item--parent">
            		<span class="octicon octicon-package"></span><span class="nav-subtitle">Plugins</span>
            		<ul class="nav-list nav-list--child">
            			<li class="nav-item nav-item--child  nav-item--parent"><span class="nav-subtitle">Menu</span></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/menu-sections/" >Menu Sections</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/menu/" >Menu</a></li>
            			<li class="nav-item nav-item--child  nav-item--parent"><span class="nav-subtitle">Blog</span></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/blog-post-list/" >Blog Post List</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/blog-post/" >Blog Post</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/blog-search/" >Blog Search</a></li>
            			<li class="nav-item nav-item--child  nav-item--parent"><span class="nav-subtitle">Ecommerce</span></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/ecommerce-basket/" >Ecommerce Basket</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/ecommerce-basket-summary/" >Ecommerce Basket Summary</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/ecommerce-categories/" >Ecommerce Categories</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/ecommerce-featured/" >Ecommerce Featured</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/ecommerce-legal/" >Ecommerce Legal</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/ecommerce-product-list/" >Ecommerce Product List</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v2/ecommerce-product/" >Ecommerce Product</a></li>
            		</ul>
          		</li>
          		<li class="nav-item  nav-item--parent">
            		<span class="octicon octicon-trashcan"></span><span class="nav-subtitle">Deprecated</span>
            		<ul class="nav-list nav-list--child">
            			<li class="nav-item nav-item--child"><a href="/widgets/v1/redirect-to-desktop/" >Redirect To Desktop</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v1/ecommerce-checkout/" >Ecommerce Checkout</a></li>
            			<li class="nav-item nav-item--child"><a href="/widgets/v1/ecommerce-confirmation/" >Ecommerce Confirmation</a></li>
            		</ul>
          		</li>
          	</ul>
          </nav>
      	</aside>

      </div>
      <div class="span-7">

      	<main class="main  main--content" role="main">
          <ol class="nav-list  beadcrumb-list">
        		<li class="nav-item  breadcrumb-item"><a href="/">Home</a> &#187; </li>
      			<li class="nav-item  breadcrumb-item"><a href="/templating">Templating</a> &#187; </li>
          	<li class="nav-item  breadcrumb-item">Twig</li>
          </ol>
      		<a class="edit" title="edit on GitHub" href="https://github.com/basekit/docs.basekit.com/blob/master/templating/twig.md"><span class="octicon octicon-pencil"></span></a>
      		<h1 id="twig-views">Twig Views</h1>
          <p>The Editor template engine is based on Twig. The Twig engine can render server side and client side. (We use twig.js for client side rendering). This is used for rendering HTML with data with our editor, templates, manage sections and widgets.</p>
          <p>You have complete document access in twig files; access to html tags, head tags and body tags which gives you, the template designer, all the flexibility you require to design cutting edge templates.</p>
          <p>All the documentation for Twig can be found at these sources:</p>
          <ul>
            <li>Twig - the flexible, fast, and secure template engine: <a href="http://twig.sensiolabs.org/">http://twig.sensiolabs.org/</a></li>
            <li>Client side rendering library: <a href="https://github.com/schmittjoh/twig.js">https://github.com/schmittjoh/twig.js</a></li>
          </ul>
          <h2 id="syntax-highlighting">Syntax Highlighting</h2>
          <p>Some text editors don’t come with Twig syntax highlighting when you download them for the first time. This means it can be hard to read Twig code without the colours. Here’s some helpful plugins to fix this issue:</p>
          <ul>
            <li><a href="https://github.com/muxx/Twig-HTML.mode">Coda 2 Twig-HTML syntax highlighting mode</a></li>
            <li><a href="https://github.com/Anomareh/PHP-Twig.tmbundle">Sublime Text 3 syntax highlighting</a></li>
            <li><a href="https://atom.io/packages/php-twig">Atom Editor Twig syntax</a></li>
          </ul>
          <h2 id="defaulttwig">default.twig</h2>
          <p>This is where the HTML lives for the default page. If you only include default.twig in a template, then every page will use this file to render its HTML.</p>
          <p>Stripped down to the basics, a Twig file should look like the following:</p>
          <figure class="highlight">
            <pre><code class="language-html" data-lang="html">
              <span class="cp">&lt;!doctype html&gt;</span>
              <span class="nt">&lt;html&gt;</span>
              <span class="nt">&lt;head&gt;</span>
              <span class="nt">&lt;meta</span> <span class="na">charset=</span><span class="s">"utf-8"</span> <span class="nt">/&gt;</span>
              <span class="nt">&lt;title&gt;</span>{{ page.title }}<span class="nt">&lt;/title&gt;</span>
              <span class="nt">&lt;meta</span> <span class="na">name=</span><span class="s">"keywords"</span> <span class="na">content=</span><span class="s">"{{ page.keywords }}"</span> <span class="nt">/&gt;</span>
              <span class="nt">&lt;meta</span> <span class="na">name=</span><span class="s">"description"</span> <span class="na">content=</span><span class="s">"{{ page.description }}"</span> <span class="nt">/&gt;</span>
              <span class="nt">&lt;meta</span> <span class="na">http-equiv=</span><span class="s">"content-language"</span> <span class="na">content=</span><span class="s">"{{ page.seoLang }}"</span> <span class="nt">/&gt;</span>

              {% if site.favicon %}
              <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"icon"</span> <span class="na">href=</span><span class="s">"{{ site.favicon['favicon'] }}"</span> <span class="na">type=</span><span class="s">"image/x-icon"</span> <span class="nt">/&gt;</span>
              <span class="nt">&lt;link</span> <span class="na">rel=</span><span class="s">"SHORTCUT ICON"</span> <span class="na">href=</span><span class="s">"{{ site.favicon['thumbnail'] }}?v={{ 'now'|date('U') }}"</span> <span class="na">type=</span><span class="s">"image/x-icon"</span> <span class="nt">/&gt;</span>
              {% endif %}
              <span class="nt">&lt;meta</span> <span class="na">http-equiv=</span><span class="s">"X-UA-Compatible"</span> <span class="na">content=</span><span class="s">"IE=edge,chrome=1"</span><span class="nt">&gt;</span>
              <span class="nt">&lt;meta</span> <span class="na">name=</span><span class="s">"viewport"</span> <span class="na">content=</span><span class="s">"width=device-width,initial-scale=1"</span><span class="nt">&gt;</span>

              {% include basekit.headScript %}
              <span class="nt">&lt;/head&gt;</span>
              <span class="nt">&lt;body</span> <span class="na">class=</span><span class="s">"{{ page.backgroundClass }}"</span><span class="nt">&gt;</span>

              {{zone()|raw}}

              {% include basekit.bodyScript %}
              <span class="nt">&lt;/body&gt;</span>
              <span class="nt">&lt;/html&gt;</span>
            </code></pre>
          </figure>
          <h2 id="editor-html-breakdown">Editor HTML Breakdown</h2>
          <p>Let’s look at this HTML in more detail</p>
          <h4 id="the-important-stuff">The Important Stuff</h4>
          <h4 id="bringing-a-template-to-life-in-the-editor">Bringing a template to life in the Editor</h4>
          <p>There are 2 tags that are required in any template to get them to work in the Editor. <strong>Without these, the template will not come to life in the Editor</strong>. These tags must appear in the head tag and at the bottom of the body tag.</p>
          <figure class="highlight">
            <pre><code class="language-html" data-lang="html">
              <span class="cp">&lt;!doctype html&gt;</span>
              <span class="nt">&lt;html&gt;</span>
              <span class="nt">&lt;head&gt;</span>
              {% include basekit.headScript %}
              <span class="nt">&lt;/head&gt;</span>
              <span class="nt">&lt;body&gt;</span>
              {% include basekit.bodyScript %}
              <span class="nt">&lt;/body&gt;</span>
              <span class="nt">&lt;/html&gt;</span>
            </code></pre>
          </figure>
          <p>These will bring widgets to life and let the Editor know that the page is ready.</p>
          <h3 id="rendering-data-in-twig">Rendering Data in Twig</h3>
          <figure class="highlight">
            <pre><code class="language-html" data-lang="html">
              <span class="nt">&lt;title&gt;</span>{{ page.title }}<span class="nt">&lt;/title&gt;</span>
            </code></pre>
          </figure>
          <p>You can easily feed data into the template’s HTML from the Editor engine. Twig views will pull the title value from the page’s data and display it into the HTML. A complete list of data properties can be found here: <a href="/data/">Editor Template Data</a></p>
          <h3 id="common-assets-in-templates">Common Assets in Templates</h3>
          <figure class="highlight">
            <pre><code class="language-html" data-lang="html">
              <span class="nt">&lt;link</span>
              <span class="na">rel=</span>
              <span class="s">"stylesheet"</span>
              <span class="na">href=</span>
              <span class="s">"//{/{{env.assetDomain}}/templates/common/responsive-columns.css"</span>
              <span class="nt">/&gt;</span>
            </code></pre>
          </figure>
          <p>This will pull common assets into the template feed from the engine. In the example above we pull in CSS from the engine to give default CSS to the responsive columns. This is placed in the template so that you can bring the columns widget to life. If you need to create your own CSS for columns, remove this line and place your css file in. For example:</p>
          <figure class="highlight">
            <pre><code class="language-html" data-lang="html">
              <span class="nt">&lt;link</span>
              <span class="na">rel=</span>
              <span class="s">"stylesheet"</span>
              <span class="na">href=</span>
              <span class="s">"{{asset('/css/responsive-columns.css')}}"</span>
              <span class="nt">/&gt;</span>
            </code></pre>
          </figure>
          <p>You can find more information on the asset function in <a href="/templating/assets/#asset--image-functions">this article</a>.</p>
          <h3 id="background-rendering">Background Rendering</h3>
          <p>We can code whatever design required into a template, but we want the user to be able to override certain design settings like the background colour, image, etc. When we place this tag into the body tag, a user will be able to edit the background using the Editor.</p>
          <figure class="highlight">
            <pre><code class="language-html" data-lang="html">
              <span class="nt">&lt;body</span>
              <span class="na">class=</span>
              <span class="s">"{{ page.backgroundClass }}"</span>
              <span class="nt">&gt;</span>
            </code></pre>
          </figure>
          <h3 id="the-zone">The Zone</h3>
          <p>This is where a user can drag their content. Wherever you place this tag in your template is where user placed content will be rendered into the HTML. The content is page-based so if the zone is rendered for multiple pages, the Editor engine will provide the widget HTML to the template and render it in place of this tag:</p>
          <figure class="highlight">
            <pre><code class="language-python" data-lang="python">
              <span class="p">{{</span>
                <span class="n">zone</span>
              <span class="p">()</span>
              <span class="o">|</span>
              <span class="n">raw</span>
              <span class="p">}}</span>
            </code></pre>
          </figure>
          <blockquote><p><strong>Note:</strong> A page does not have to have a zone but if one is not set a user will not be able to drag widgets onto the page.</p></blockquote>
      	</main>
      </div>
      <div class="span-2">
      	<aside id="sticky" class="aside  aside--contents">
      		<h4>Page Contents</h4>
          <nav id="contents" class="nav  nav--contents">
          	<!-- Navigation generated with JS -->
          </nav>
          <span class="octicon octicon-arrow-up"></span><a href="#top" data-scroll="true">Back to top</a>
      	</aside>
      </div>
		</div>
	</div>
</div>

<footer class="footer  footer--main">
	<div class="container">
		<div class="row">
			<div class="span-3  span--half">
				<div class="copyright">
					<p>&copy; Copyright 2016</p>
				</div>
			</div>
			<div class="span-9  span--half">
				<nav class="nav  nav--footer">
					<p><a href="#top"  data-scroll="true">Back to top <span class="octicon octicon-arrow-up"></span></a></p>
				</nav>
			</div>
		</div>
	</div>
</footer>

<script src="/js/jekyll-search.js"></script>
<script src="/js/position-sticky.js"></script>
<script src="/js/smooth-scroll.js"></script>
<script src="/js/clipboard.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/classList.js"></script>
<script src="/js/gumshoe.js"></script>
<script src="/js/fastclick.js"></script>
<script>
	smoothScroll.init();
	gumshoe.init({
		offset: 17
	});
	if ('addEventListener' in document) {
		document.addEventListener('DOMContentLoaded', function() {
			FastClick.attach(document.body);
		}, false);
	}
</script>

</body>
</html>
