---
layout: index-en
---

<main class="container">
  <div class="row">
    {% if format == "layout-left" %}
    <div class="col-md-3 col-lg-3">
      <aside class="menu">
        {% include base/navvertical.html section = page.section %}
      </aside>
    </div>
    <div class="col-md-9 col-lg-9">
      <article>
        <header>
          <h1>{{ page.title }}</h1>
          <p class="post-meta">
            Section:&nbsp;{{ page.section }}<br>
          {% if page.categories %}
            Category:&nbsp;
            {% for category in page.categories %}
              <i class="pe-folder-open-o pe-fw"></i> {{ category }}
            {% endfor %}
          {% endif %}
          <br>
          {% if page.tags %}
            Tag:&nbsp;
            {% for tag in page.tags %}
              <i class="pe-tag pe-fw"></i> {{ tag | slugify }}
            {% endfor %}
          {% endif %}
          </p>
        </header>
        {% if page.toc %}<div id="toc" class="hidden-xs"></div>{% endif %}
        <body>
          {{ content }}
        </body>
      </article>
      {% include base/more.html %}
    </div>
    {% elsif format == "layout-right" %}
    <div class="col-md-9 col-lg-9">
      <article>
        <header>
          <h1>{{ page.title }}</h1>
          <p class="post-meta">
            Section:&nbsp;{{ page.section }}<br>
          {% if page.categories %}
            Category:&nbsp;
            {% for category in page.categories %}
              <i class="pe-folder-open-o pe-fw"></i> {{ category }}
            {% endfor %}
          {% endif %}
          <br>
          {% if page.tags %}
            Tag:&nbsp;
            {% for tag in page.tags %}
              <i class="pe-tag pe-fw"></i> {{ tag | slugify }}
            {% endfor %}
          {% endif %}
          </p>
        </header>
        {% if page.toc %}<div id="toc" class="hidden-xs"></div>{% endif %}
        <body>
          {{ content }}
        </body>
      </article>
      {% include base/more.html %}
    </div>
    <div class="col-md-3 col-lg-3">
      <aside class="menu">
        {% include base/navvertical.html section = page.section %}
      </aside>
    </div>
    {% else %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <article>
        <header>
          <h1>{{ page.title }}</h1>
          <p class="post-meta">
            Section:&nbsp;{{ page.section }}<br>
          {% if page.categories %}
            Category:&nbsp;
            {% for category in page.categories %}
              <i class="pe-folder-open-o pe-fw"></i> {{ category }}
            {% endfor %}
          {% endif %}
          <br>
          {% if page.tags %}
            Tag:&nbsp;
            {% for tag in page.tags %}
              <i class="pe-tag pe-fw"></i> {{ tag | slugify }}
            {% endfor %}
          {% endif %}
          </p>
        </header>
        {% if page.toc %}<div id="toc" class="hidden-xs"></div>{% endif %}
        <body>
          {{ content }}
        </body>
      </article>
      {% include base/more.html %}
    {% endif %}
  </div>
</main>
