---
layout: index
---

{% if page.locale == "en" %}{% assign sect = page.section %}
{% elsif page.locale == "th" %}{% assign sect = page.section | append: "TH" %}
{% elsif page.locale == "" %}{% assign page.locale = site.locale %}
{% endif %}

<main class="container maincontent">
  <div class="row">
{% if page.format == "layout-left" %}
    <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
      <aside class="menu">
{% include 2/side.html section = sect %}
      </aside>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
      {% if page.locale == "th" %}<article class="th">{% else %}<article class="en">{% endif %}
{% include 3/article.html %}
{% if page.toc %}<div id="toc" class="hidden-xs"></div>{% endif %}
  {% if page.locale == "th" %}
{{ content | replace: '<h3', '<h3 class="th"' | replace: '<h4', '<h4 class="th"' | replace: '<h5', '<h5 class="th"' | replace: '<h6', '<h6 class="th"' | replace: '<p>', '<p class="th">' | replace: '<p class="lead">', '<p class="lead-th">' | replace: '<ol>', '<ol class="th">' | replace: '<ul>', '<ul class="th">' | replace: '<li>', '<li class="th">' | replace: '<span class="panel-title-en">', '<span class="panel-title-th">' }}
  {% else %}
{{ content | replace: '<h3', '<h3 class="en"' | replace: '<h4', '<h4 class="en"' | replace: '<h5', '<h5 class="en"' | replace: '<h6', '<h6 class="en"' | replace: '<p>', '<p class="en">' | replace: '<p class="lead">', '<p class="lead-en">' | replace: '<ol>', '<ol class="en">' | replace: '<ul>', '<ul class="en">' | replace: '<li>', '<li class="en">' | replace: '<span class="panel-title-en">', '<span class="panel-title-th">' }}
  {% endif %}
      </article>
{% include 3/more.html section = sect %}
    </div>
{% elsif page.format == "layout-right" %}
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
      {% if page.locale == "th" %}<article class="th">{% else %}<article class="en">{% endif %}
{% include 3/article.html %}
{% if page.toc %}<div id="toc" class="hidden-xs"></div>{% endif %}
  {% if page.locale == "th" %}
{{ content | replace: '<h3', '<h3 class="th"' | replace: '<h4', '<h4 class="th"' | replace: '<h5', '<h5 class="th"' | replace: '<h6', '<h6 class="th"' | replace: '<p>', '<p class="th">' | replace: '<p class="lead">', '<p class="lead-th">' | replace: '<ol>', '<ol class="th">' | replace: '<ul>', '<ul class="th">' | replace: '<li>', '<li class="th">' | replace: '<span class="panel-title-en">', '<span class="panel-title-th">' }}
  {% else %}
{{ content | replace: '<h3', '<h3 class="en"' | replace: '<h4', '<h4 class="en"' | replace: '<h5', '<h5 class="en"' | replace: '<h6', '<h6 class="en"' | replace: '<p>', '<p class="en">' | replace: '<p class="lead">', '<p class="lead-en">' | replace: '<ol>', '<ol class="en">' | replace: '<ul>', '<ul class="en">' | replace: '<li>', '<li class="en">' | replace: '<span class="panel-title-en">', '<span class="panel-title-th">' }}
  {% endif %}
      </article>
{% include 3/more.html section = sect %}
    </div>
    <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
      <aside class="menu">
{% include 2/side.html section = sect %}
      </aside>
    </div>
{% else %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      {% if page.locale == "th" %}<article class="th">{% else %}<article class="en">{% endif %}
{% include 3/article.html %}
{% if page.toc %}<div id="toc" class="hidden-xs"></div>{% endif %}
  {% if page.locale == "th" %}
{{ content | replace: '<h3', '<h3 class="th"' | replace: '<h4', '<h4 class="th"' | replace: '<h5', '<h5 class="th"' | replace: '<h6', '<h6 class="th"' | replace: '<p>', '<p class="th">' | replace: '<p class="lead">', '<p class="lead-th">' | replace: '<ol>', '<ol class="th">' | replace: '<ul>', '<ul class="th">' | replace: '<li>', '<li class="th">' | replace: '<span class="panel-title-en">', '<span class="panel-title-th">' }}
  {% else %}
{{ content | replace: '<h3', '<h3 class="en"' | replace: '<h4', '<h4 class="en"' | replace: '<h5', '<h5 class="en"' | replace: '<h6', '<h6 class="en"' | replace: '<p>', '<p class="en">' | replace: '<p class="lead">', '<p class="lead-en">' | replace: '<ol>', '<ol class="en">' | replace: '<ul>', '<ul class="en">' | replace: '<li>', '<li class="en">' | replace: '<span class="panel-title-en">', '<span class="panel-title-th">' }}
  {% endif %}
      </article>
{% include 3/more.html section = sect %}
    </div>
{% endif %}
  </div>
</main>
