---
layout: brew
---

<!doctype html>
<html lang="{{ site.locale }}">
<head>
{% include base/meta.html %}
</head>

<body>
{% include base/header.html %}
<main>
  <section class="container">
    <div class="row">

      {% if format == "two-left" %}
      <div class="col-md-3 col-lg-3">

{% if page.url contains "/members/" %}
{% include base/navvertical.html section = "members" %}
{% elsif page.url contains "/clients/" %}
{% include base/navvertical.html section = "clients" %}
{% endif %}

{% include base/searchbox.html %}

      {% endif %}


      {% if format == "two-left" %}
      </div>
      <div class="col-md-9 col-lg-9">
      {% endif %}



        {{ content }}
{% include base/helpful.html %}
      </div>
    </div>
  </section>
</main>
{% include base/js.html %}
{% include base/footer.html %}
</body>
</html>
