---
layout: index
---

<main class="container maincontent">
  <div class="row">
{% if page.format == "layout-left" %}
    <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
      <aside class="menu">
{% include 2/side.html section = page.section %}
      </aside>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
      <article>
{% include 3/article.html %}
{% if page.toc %}<div id="toc" class="hidden-xs"></div>{% endif %}
{{ content | tidy | replace: 'The answer', '<i class="pe-anchor pe-fw"></i> The answer' | replace: '<img src', '<img class="img-responsive" src' }}
      </article>
{% include 3/more.html %}
    </div>
{% elsif page.format == "layout-right" %}
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
      <article>
{% include 3/article.html %}
{% if page.toc %}<div id="toc" class="hidden-xs"></div>{% endif %}
{{ content | tidy | replace: 'The answer', '<i class="pe-anchor pe-fw"></i> The answer' | replace: '<img src', '<img class="img-responsive" src' }}
      </article>
{% include 3/more.html %}
    </div>
    <div class="hidden-xs col-sm-3 col-md-3 col-lg-3">
      <aside class="menu">
{% include 2/side.html section = page.section %}
      </aside>
    </div>
{% else %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <article>
{% include 3/article.html %}
{% if page.toc %}<div id="toc" class="hidden-xs"></div>{% endif %}
{{ content | tidy | replace: 'The answer', '<i class="pe-anchor pe-fw"></i> The answer' | replace: '<img src', '<img class="img-responsive" src' }}
      </article>
{% include 3/more.html %}
    </div>
{% endif %}
  </div>
</main>
